
</div>
</div>
<!--- end body -->

<footer class="clearfix" id="footer">
    <div class="container">
        <p>
        <check if="{{@obj_article->get_count('link=2 and lokasi=1')>0}}">
            <true>
            <repeat group="{{@obj_article->get_article(array('link=? and lokasi=?',2,1))}}" key="{{ @mk }}" value="{{ @mv }}">
                <a href="{{@ROOT}}/view/{{@mv->slug}}">
                    {{@mv->judul}}
                </a>
                <check if="{{(@mk+1)==@obj_article->get_count('link=2 and lokasi=1')}}">
                    <false>
                    |
                    </false>
                </check>
            </repeat>
            </true>
        </check>
        </p>

    </div>
</footer>
<script src="{{@ROOT}}/assets/js/bootstrap.min.js"></script>
<!--<script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer>-->
<script type="text/javascript">


$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
//$('.collapse').collapse();
if ($('.ckeditor').size() > 0) {
    CKEDITOR.replace('.ckeditor');
}

</script>
</body>
</html>