<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Nabung Tanpa Uang </title>
        <link href="{{@ROOT}}/assets/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="assets/css/reset.css"/>
        <link rel="stylesheet" href="assets/css/typography.css"/> -->
        <!-- <link rel="stylesheet" href="assets/css/forms.css"/> -->
        <link rel="stylesheet" href="{{@ROOT}}/assets/css/magnific-popup.css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <!-- <link rel="stylesheet" href="assets/css/fontello.css"/> -->
        <link rel="stylesheet" href="{{@ROOT}}/assets/css/font-awesome.min.css"/>
        <!-- <link rel="stylesheet" href="assets/css/responsive-tables.css"/> -->
        <!--<link rel="stylesheet" href="{{@ROOT}}/assets/css/slimmenu.css"/>-->
        <link rel="stylesheet" href="{{@ROOT}}/assets/css/style.css"/>

        <!-- <link rel="stylesheet" href="assets/css/responsive.css"/> -->
        <!--[if lt IE 9]>
                <link rel="stylesheet" href="assets/css/fontello-ie7-codes.css"/>
                <link rel="stylesheet" href="assets/css/fontello-ie7.css"/>
        <![endif]-->
        <script type="text/javascript" src="{{@ROOT}}/assets/js/jquery-1.11.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="{{@ROOT}}/assets/js/jquery.validate.js"></script>
        <script src="{{@ROOT}}/assets/js/accounting.js"></script>

        <script type="text/javascript" src="{{@ROOT}}/assets/js/jquery.magnific-popup.js"></script>
        <!--<script type="text/javascript" src="{{@ROOT}}/assets/js/jquery.slimmenu.js"></script>-->
        <script type="text/javascript" src="{{@ROOT}}/assets/js/config.js"></script>
        <script type="text/javascript" src="{{@ROOT}}/content/plugin/ckeditor/ckeditor.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <script type="text/javascript">
(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {

        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)

})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');



ga('create', 'UA-55291802-1', 'auto');

ga('send', 'pageview');



        </script>
    </head>
    <body>

