<div class="container parent">
    <div class="row">
        <div class="col-md-12">
            <check if="{{is_object(@article)}}">
                <true>
                <h1>{{@article->judul}}</h1>
                <check if="{{@article->image}}">
                    <true>
                    <img src="{{@ROOT}}/content/article/{{@article->image}}" class="img-responsive" alt="{{@article->judul}}" />
                    </true>
                </check>
                <p> {{@article->content}}</p>
                </true>
                <false>
                404 page
                </false>
            </check>

        </div>  
    </div>
</div>