<div id="loginBackground">
    <div class="container">
        <div class="row parent" style=" margin-bottom:10%;">
            <div class="col-lg-6 col-md-6 col-xs-12">
                left
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                
                <form role="form" class="form-horizontal" method="post" action="{{@ROOT}}/hubungi">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Hubungi Kami</h2>
                        </div>
                        <div class="panel-body">

                            <div class="form-group ">
                                <div class="col-lg-6">
                                    <label for="name" class="control-label">Nama</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" value="" id="name" name="nama" class="form-control" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label for="email" class="control-label">Email</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" value="" id="email" name="email" class="form-control"  required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label for="phone" class="control-label">Telepone</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" value="" id="phone" name="phone" class="form-control"  required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label for="nomor" class="control-label">Nomor Adira Finance Club</label><br/>
                                    <small>(Abaikan jika anda non member)</small>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" value="" id="nomor" name="nomor" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label for="ask" class="control-label">Pertanyaan</label><br/>
                                    <textarea id="ask" name="pertanyaan" class="form-control" rows="4"  required="required"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-lg-12 ">
                                    <input type="submit" class="btn btn-lg btn-block btn-success" value="Kirim"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>