<div class="container parent">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <include href="users/__user_sidebar.htm"/>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <check if="{{isset(@GET.ckr) && (@GET.ckr == 'sor')}}">
                <true>
                <div class="alert alert-success">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <strong>Succes!</strong>
                    Data berhasil di update!!!
                </div>
                </true>
            </check>
            <form method="post" action="" role="form" class="form-horizontal" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>
                            <span class="glyphicon glyphicon-user"></span> Edit Profile
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="control-label" for="fnama">Nama pertama</label>
                                <input id="fnama" type="text" class="form-control" placeholder="Nama Pertama" required="required" autofocus name="fnama" value="{{@obj_users->get_user('id',@SESSION.user.user_id, 'name')}}"/>
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label" for="lnama">Nama terakhir</label>
                                <input id="lnama" type="text" class="form-control" placeholder="Nama Terakhir" required="required" autofocus name="lnama" value="{{@obj_users->get_user('id',@SESSION.user.user_id, 'last_name')}}"/>    
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6" >
                                <label class="control-label" for="email">Email</label>
                                <input id="email" type="email" class="form-control" placeholder="Email" required="required" autofocus name="email" value="{{@obj_users->get_user('id',@SESSION.user.user_id, 'mail')}}"/>
                            </div>
                            <div class="col-lg-6" >
                                <label class="control-label" for="phone">Telepone</label>
                                <input id="phone" type="text" class="form-control" placeholder="Telepone" required="required" autofocus name="telephone" value="{{@obj_users->get_user('id',@SESSION.user.user_id, 'telephone')}}"/>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-lg-12" >
                                <label class="control-label" for="address">Alamat</label>
                                <input id="address" type="text" class="form-control" placeholder="Alamat" required="required" autofocus name="address" value="{{@obj_users->get_user('id',@SESSION.user.user_id, 'address')}}"/>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group " id="adira">
                            <div class="col-lg-12" >
                                <label class="control-label" for="ewalletID" >
                                    Adira Box
                                    <small>(Nomor Adira Finance Club)</small>
                                </label>
                                <input id="ewalletID" type="text" class="form-control" placeholder="Nomor Adira Finance Club" required="required" autofocus name="ewallet_id" value="{{@obj_users->get_user('id',@SESSION.user.user_id, 'ewallet_login')}}" disabled="disabled"/>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="control-label" for="pict">Foto</label>
                                <input type="file" id="pict" name="foto" />
                            </div>
                            <div class="col-lg-6 text-center profile">
                                <check if="{{@obj_users->get_user('id',@SESSION.user.user_id,'img') != ''}}">
                                    <true>
                                    <input type="hidden" value="{{@obj_users->get_user('id',@SESSION.user.user_id,'img')}}" name="oldp"/>
                                    <img class="img-rounded img-responsive" src="{{@ROOT}}/content/user/{{@obj_users->get_user('id',@SESSION.user.user_id,'img')}}" alt="{{@obj_users->get_user('id',@SESSION.user.user_id,'name')}}" />
                                    </true>
                                    <false>
                                    <div class="circle_point valign-table">
                                        <div class="circle-content-wrapper valign-cell">
                                            <span class="glyphicon glyphicon-user" style="font-size: 50px; color: #ffffff"></span>
                                        </div>
                                    </div>
                                    </false>
                                </check>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        [ <a href="{{@ROOT}}/dashboard" class="btn btn-link">kembali ke dashboard</a> ]
                        <input type="submit" value="simpan" class="btn btn-success pull-right"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>