<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="mainmenu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand" href="{{@ROOT}}"><img src="{{@ROOT}}/assets/img/logo.png"/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" role="navigation">
            <ul class="nav navbar-nav navbar-right" id="nav">
                <check if="{{!empty(@SESSION.user)}}">
                    <true>
                    <check if="{{@SESSION.user['role']!='2'}}">
                        <true>
                        <li><a href="{{@ROOT}}/profile/edit">Edit Profile</a></li>
                        <li><a href="{{@ROOT}}/profile/ganti_password">Ganti Password</a></li>
                        </true>
                    </check>
                    <li class=""><a href="{{@ROOT}}">Dashboard</a></li>
                    <li>
                        <a href="{{@ROOT}}/logout">
                            <span class="fa fa-sign-out"></span> Keluar
                        </a>
                    </li>
                    </true>
                    <false>
                    <check if="{{count(@obj_article->get_article(array('link=? and lokasi=?',1,1)))>0}}">
                        <true>
                        <repeat group="{{@obj_article->get_article(array('link=? and lokasi=?',1,1))}}" key="{{ @mk }}" value="{{ @mv }}">
                            <li>
                                <a href="{{@ROOT}}/view/{{@mv->slug}}">
                                    {{@mv->judul}}
                                </a>
                            </li>
                        </repeat>
                        </true>
                    </check>
                    {{*<li>
                        <a href="{{@ROOT}}/register">Daftar Sekarang</a>
                    </li>*}}
                    <li>
                        <a href="{{@ROOT}}/hubungi">Hubungi Kami</a>
                    </li>
                    </false>
                </check>
            </ul>
        </div>
    </div>
</nav>