<div id="loginBackground">
    <div class="container">
        <div class="row parent" style=" margin-bottom:10%;">
            <div class="col-md-8 featured">


                <img src="{{@ROOT}}/assets/img/bank.jpg" class="visible-xs visible-sm"/>
                <h1 class="">Cara Nabung Uang,<br/>Tanpa Uang</h1>
                <h2 class="caption ">Berbagi tabungan keuntungan hanya dengan <br/>mereferensikan nasabah baru "Adira Finance"</h2>

                <!--                <h1 style="font-size:34px; line-height:46px;">Cara Mudah Menambah<br>Tabungan Anda</h1>
                                <p style="font-size:16px; line-height:30px; max-width:650px; margin-top:20px;">Nabung Tanpa Uang adalah Cara untuk meningkatkan saldo akun AdiraBox anda tanpa harus menyetor uang. Cukup berikan referensi orang yang ingin membeli produk Adira Finance dan Partner yang ditawarkan di www.nabungtanpauang.com, maka sejumlah uang akan bertambah di saldo anda apabila referensi anda menjadi pembeli produk tersebut.</p>-->
            </div>
            <div class="col-md-4" id="login">            
                <div class="panel-group" id="homeinteractive">
                    <div class="alert alert-danger {{isset(@GET.notification) && @GET.notification == 'error.credentials' ? 'bounceIn in' : ''}} animated" style="display: {{isset(@GET.notification) && @GET.notification == 'error.credentials' ? '' : 'none'}}">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <strong>Error!</strong>
                        Kesalahan Data.
                    </div>
                    <div class="alert alert-danger {{isset(@GET.notification) && @GET.notification == 'error.notf' ? 'bounceIn in' : ''}} animated" style="display: {{isset(@GET.notification) && @GET.notification == 'error.notf' ? '' : 'none'}}">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <strong>Error!</strong>
                        Username Harus Adira Finance Club!
                    </div>
                    <div class="alert alert-info {{isset(@GET.notification) && @GET.notification == 'info.acoount' ? 'bounceIn in' : ''}} animated" style="display: {{isset(@GET.notification) && @GET.notification == 'info.acoount' ? '' : 'none'}}">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <strong>Info!</strong>
                        Akun berhasil dibuat. Silahkan aktifkan account Anda melalui pesan yang dikirim ke akun email Anda.
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <!--                                <a  data-parent="#homeinteractive" href="#loginform">-->
                                Login
                                <!--</a>-->
                            </h4>
                        </div>
                        <div id="loginform" class="">
                            <div class="panel-body">
                                <form class="customForm" method="POST" action="{{@ROOT}}/" id="login">
                                    <input type="hidden" value="{{(!empty(@SESSION.goto))?@SESSION.goto:''}}" name="target"/>
                                    <div class="form-group">
                                        <label class="control-label" for="username">Nomor Adira Finance Club</label>
                                        <input id="username" type="text" class="form-control" name="username" required="required">
                                    </div>
                                    <div class="form-group">                                    
                                        <label class="control-label" for="pass">Kata Sandi (Password)</label>
                                        <input id="pass" type="password" class="form-control" name="password">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input value="Masuk" type="submit" class="btn btn-danger btn-block" />
                                            </div>
                                            <div class="col-md-6">
                                                <a href="{{@ROOT}}/lost_pass"><input type="button" value="Lupa Password" class="btn btn-success btn-block"></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#homeinteractive" href="#registerform">Register</a>
                                                </h4>
                                            </div>
                                            <div id="registerform" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <check if="{{!empty(@GET.notification) && @GET.notification == 'info.acoount}}'">
                                                        <true>
                                                        <div class="success alert">
                                                            <strong>{{@tag_info}}!</strong>
                                                            {{@login_msg_info}}
                                                        </div>
                                                        </true>
                                                    </check>
                                                    <form action="/add_user" method="POST" class="customForm" id="register">
                                                        <div class="form-group">
                                                            <label for="name">Nama depan</label>
                                                            <input id="name" class="form-control" type="text" name="name"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="lastname">Nama Belakang</label>
                                                            <input id="lastname" class="form-control" type="text" name="lastname"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="email">Email</label>
                                                            <input id="email" class="form-control" type="email" name="email"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="phone">Telephone</label>
                                                            <input id="phone" class="form-control" type="text" name="telephone" value=""/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="address">Alamat</label>
                                                            <input id="address" class="form-control" type="text" name="address" value=""/>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label>Member Adira Box?
                                                                <small>(untuk menerima komisi)</small>
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="account" value="yes" class="required account" data-id="adira" id="adiraradio" />Ya
                                                                <small>(Member Adira Box)</small>
                                                            </label>
                    
                                                            <label>
                                                                <input type="radio" name="account" value="no" class="account" data-id="ipaymu" />Tidak
                                                                <small>(Non-member Adira Box)</small>
                                                            </label>
                                                        </div>
                    
                                                        <input type="hidden" name="wallet_id" placeholder="VA number Adira Box" class="form-control" />
                                                        <hr>
                                                        <div class="form-group">
                                                            <label class="control-label" for="username">Username</label>
                                                            <input id="username" type="text" class="form-control" name="username">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label" for="pass">Password</label>
                                                            <input id="pass" type="password" class="form-control" name="password">
                                                        </div>
                    
                                                        <div class="form-group">
                                                            <input type="submit" class="btn-block btn btn-danger" value="Daftar Sekarang!" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div> *}}-->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="article" class="clearfix">
    <div  class="container">
        <div class="row">
            <check if="{{(@obj_article->get_count('link=5')>0)}}">
                <true>
                <repeat group="{{ @obj_article->get_article(array('link=?',5),array('limit'=>'3')) }}" key="{{ @ak }}" value="{{ @av }}">
                    <div class="col-md-4 ">
                        <div class="artilce clearfix">
                            <div class="thumbnail">
                                <img src="{{@ROOT}}/assets/images/{{@av->image}}"/>
                            </div>
                            <div class=" col-md-12">
                                <h1>{{@av->judul}}</h1>
                                <p>{{@plug_text->trim_text(@av->content,100)}}</p>
                                <a href="{{@ROOT}}/view/{{@av->slug}}" class="pull-right btn btn-link">readmore</a>
                            </div>
                        </div>
                    </div>

                </repeat>
                </true>
            </check>
            <div class="col-md-4">
                <h2></h2>
            </div>
        </div>
    </div>

</div>
