<include href="include/header.htm"/>
<section class="clearfix broadcast" id="content" style="height: 100%;margin-top: 10%; margin-bottom: 10%;">    
    <div class="container clearfix" style="max-width: 600px;width: auto;border:1px solid #9e033d;padding: 15px;display: block;top:25%">
        <h1>Terimakasih Telah mengisi Form Pengajuan Pembiayaan.</h1>        
        <p>data akan segera kami proses<br/>
            <a href="{{@ROOT}}">&laquo; ke halaman utama</a>
        </p>
    </div>
</section>
<include href="include/footer.htm"/>