<div class="container parent">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <include href="users/__user_sidebar.htm"/>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <check if="{{isset(@GET.b) && (@GET.b == 's')}}">
                <true>
                <div class="alert alert-success">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <strong>Succes!</strong>
                    Email berhasil di bagikan!!
                </div>
                </true>
            </check>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 kom">
                            <h2>Komisi Anda:</h2>
                        </div>
                        <div class="col-md-8">
                            <h1>Nabung Tanpa Uang</h1>
                            <p>Dapatkan Komisi dengan sistem affiliasi, untuk memulai tekan tombol cari Komisi dibawah ini.</p>
                            <p>
                            <div class="dropdown">
                                <button role="button" data-toggle="dropdown" data-target="#" class="btn btn-success">Cari Komisi <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="{{@ROOT}}/broadcast">Sebarkan Lewat Email</a></li>
                                    <li><a href="{{@ROOT}}/input_survei">Input Secara Langsung</a></li>
                                </ul>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-12 row">
                        <div class="col-lg-5">
                            <label>
                                Total Referal yang di ajukan
                            </label>
                        </div>
                        <div class="col-lg-7">
                            : {{count(@srv)}} Calon Nasabah
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-lg-5">
                            <label>
                                Jumlah Aplikasi dalam tahap "Survei"
                            </label>
                        </div>
                        <div class="col-lg-7">
                            : {{count(@obj_survei->get_surveis(array("id_agen=? and status=?", @SESSION.user.user_id,2),null))}} Calon Nasabah
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-lg-5">
                            <label>
                                Jumlah Aplikasi yang di setujui
                            </label>
                        </div>
                        <div class="col-lg-7">
                            : {{count(@obj_survei->get_surveis(array("id_agen=? and status=?", @SESSION.user.user_id,3),null))}} Calon Nasabah
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-lg-5">
                            <label>
                                Jumlah Aplikasi yang di tolak
                            </label>
                        </div>
                        <div class="col-lg-7">
                            : {{count(@obj_survei->get_surveis(array("id_agen=? and status=?", @SESSION.user.user_id,4),null))}} Calon Nasabah
                        </div>
                    </div>
                </div>

                <check if="{{count(@srv)>0}}">
                    <true>
                    <div class="table-responsive">
                        <table class="table table-dark agen">
                            <thead>
                            <th>No</th>
                            <th>Nama Nasabah</th>
                            <th>Jenis produk dan program</th>
                            <th>Status Aplikasi</th>
                            <th>Tanggal Masuk</th>
                            <!--                            <th>Aplikasi yang di terima</th>
                                                        <th>Aplikasi yang di tolak</th>-->
                            </thead>
                            <tbody>
                            <repeat group="{{@srv}}" key="{{@sk}}" value="{{@sv}}">
                                <tr class="prod{{@no++}}">
                                    <td>{{@no}}</td>
                                    <td>{{@sv->nama}}</td>
                                    <td>
                                <check if="{{$sv->jenis_produk==3 || $sv->jenis_produk==6}}">
                                    <true>
                                    {{@obj_kategori->get_jenis(@sv->jenis_produk)}}
                                    </true>
                                    <false>
                                    <check if='{{empty(@sv->id_produk)}}'>
                                        <true>
                                        {{@sv->others_produk}}
                                        </true>
                                        <false>
                                        {{@obj_produk->get_produk(@sv->id_produk,'produk')}}
                                        </false>
                                    </check>

                                    </false>
                                </check>

                                </td>
                                <td class="text-center">{{@c_survei->get_status(@sv->status,'n')}}</td>
                                <!--                                    <td>{{(@sv->status=='3')?@c_survei->get_status(@sv->status,'n'):''}}</td>
                                                                    <td>{{(@sv->status=='4')?@c_survei->get_status(@sv->status,'n'):''}}</td>-->
                                <td class="text-center">
                                    {{date('d-m-Y, H:i',strtotime(@sv->date_save))}}
                                </td>
                                </tr>


                            </repeat>
                            </tbody>
                        </table>
                    </div>
                    </true>
                    <false>
                    <div class="panel-body">
                        <div class="alert alert-warning">
                            <h4>Maaf!</h4> 
                            <p>Anda belum pernah melakukan referensi atas produk. Mulailah mendapatkan Komisi dengan klik tombol Cari Komisi di Atas.</p>
                        </div>
                    </div>
                    </false>
                </check>
                <check if="{{ isset(@show_pagination) and @show_pagination }}">
                    
                    <div class="panel-footer">{{ @pagebrowser | raw }}</div>
                </check>
            </div>

        </div>
    </div>
</div>

