<include href="include/header.htm" />
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="padding-top:100px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Broadcast Form
                </div>
                <div class="panel-body">
                    <form method="POST" action="{{@ROOT}}/send_broadcast" target="">
                        <input type="hidden" name="tokenId" value="{{base64_encode(@user['user_id'])}}" />
                        <input type="hidden" name="tokenName" value="{{base64_encode(@obj_users->get_user('id',@SESSION.user.user_id, 'name').' '.@obj_users->get_user('id',@SESSION.user.user_id, 'last_name'))}}" />
                        <div class="clearfix" style="margin:10px 2%; width: 96%">
                            <div class="form-group clearfix">
                                <label id="toEmail">To:</label>
                                <input type="text" name="toEmail" id="toEmail" required="required" class="form-control" placeholder="Email User, ';' untuk multi user" />
                                <p>
                                    <small>Untuk pengiriman lebih dari 1 email, gunakan "<strong>;</strong>"(titi koma)</small>
                                </p>
                                <p>
                                    <small><strong>Contoh:</strong> email1@email.com <strong>;</strong> email2@gmail.com</small>
                                </p>
                            </div>
                            <div class="form-group clearfix">
                                <label id="toPesan">Pesan:</label>
                                <check if="{{@obj_config->get_config_field_value('value','mail_template','data')=='ada'}}">
                                    <true>
                                    <div class="clearfix imgs">
                                        <img src="{{@ROOT}}/assets/img/email.jpg" class="img-thumbnail"/>
                                    </div>
                                    </true>
                                    <false>
                                    <textarea name='toPesan' required='required' class="form-control" style="height: 150px; " id="isiI" disabled="disabled">Tidak ada Template</textarea>
                                    </false>
                                </check>

                                <textarea name='toPesan' required='required' class="form-control" style="height: 150px;display: none " id="isi" disabled="disabled">Teman Anda ,{nama}
Mengajak Anda untuk memiliki produk  melalui ADIRA Finance.
Proses pengajuan pembiayaan yang mudah serta angsuran yang ringan menjadi jaminan kemudahan Anda
Klik {link} untuk melanjutkan proses ini.
                                </textarea>
                            </div>
                            <div class="form-group">
                                <p>note:</p>
                                <ul >
                                    <li><small>diperbolehkan menggunakan tag html</small></li>
                                    <li><small>gunkan {link} : untuk mengenarate link anda</small></li>
                                    <li><small>gunkan {nama} : untuk mengenarate link anda</small></li>
                                </ul>
                                <small>Untuk contoh/menggunakan template yang sudah di sediakan, klik checkbox di bawah ini</small>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="mail_template" value="1" id="mail_template"/> Tidak Gunakan Template
                                </label>
                                <input type="submit" value="SEND" class="btn btn-md btn-danger pull-right" />
                            </div>
                        </div>
                    </form>
                    <a href="{{@ROOT}}/dashboard">&Lt; kembali ke Dashboard</a> 
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var html = "Teman Anda ,{nama}" + "\r\n"
                + "Mengajak Anda untuk memiliki produk  melalui ADIRA Finance.\r\n"
                + "Proses pengajuan pembiayaan yang mudah serta angsuran yang ringan menjadi jaminan kemudahan Anda\r\n"
                + "Klik {link} untuk melanjutkan proses ini.";
//        $('#mail_template').on('click', function() {
//            if ($(this).is(':checked')) {
//
//                $('#isi').html("").removeAttr('disabled');
//            } else {
//                $('#isi').html(html).attr('disabled', 'disabled');
//            }
//        });
        $('#mail_template').on('click', function() {
            if ($(this).is(':checked')) {
                $('.imgs').hide();
                $('#isi').html(html).show().removeAttr('disabled');
            } else {
                $('#isi').hide();
                $('.imgs').show();
            }
        });
    });
</script>
<include href="include/footer.htm" />
