<include href="include/header.htm"/>
<section class="clearfix broadcast" id="content">
    <div class="container clearfix">
        <form method="POST" action="/send_broadcast" class="clearfix customForm" style="background: #ffffff">
            <div class="panel-heading" >
                Broadcast Form
            </div>

            <div class="column-left">
                <div class="form-group clearfix">
                    <div style="margin:10px 3%; width: 94%" class="clearfix">
                        <h2 class="title-heading">
                            Informasi Produk
                        </h2>
                        <div class="thumbnail img" style="">
                            <a href="{{@ROOT}}/assets/images/{{@produks['prod_foto']}}">
                                <img src="{{@ROOT}}/assets/images/{{@produks['prod_foto']}}" alt="{{@produks['prod_name']}}"/>
                            </a>
                        </div>
                        <div class="deskripsi" style="">
                            <input type="hidden" name="produk_id" value="{{@produks['prod_id']}}"/>
                            <h3>{{@produks['prod_name']}}</h3>
                            <p>
                                {{@produks['prod_desc']}}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column-right">
                <div class="form-group clearfix">
                    <div style="margin:10px 3%; width: 94%" class="clearfix">
                        <input type="hidden" value="{{@users['id']}}" name="ref_id" />
                        <input type="hidden" name="ref_name" value="{{@users['name'].' '.@users['last_name']}}"/>
                        <input type="hidden" name="ref_alamat" value="{{@users['alamat']}}"/>
                        <input type="hidden" name="ref_cabang" value="{{@obj_cabang->get_substation($users['cabang'],'name')}}"/>
                        <h2 class="title-heading">Informasi Agen</h2>
                        <label>Name</label> <span>{{@users['name'].' '.@users['last_name']}}</span>
                        <label>Alamat</label> <span>{{@users['alamat']}}</span>
                        <label>Cabang:</label> <span>{{@obj_cabang->get_substation($users['cabang'],'name')}}</span>
                        <div class="form-group clearfix">
                            <label id="toEmail">To:</label>
                            <input type="text" name="toEmail" id="toEmail" required="required" class="form-control" placeholder="Email User, ';' untuk multi user" />
                        </div>
                        <div class="form-group clearfix">
                            <label id="toPesan">Pesan:</label>
                            <textarea name='toPesan' required='required' class="form-control pesan" style="height: 150px;width: 97%"></textarea>
                        </div>
                        <div class="form-group clearfix">
                            <input type="submit" value="SEND" class="btn btn-md btn-primary pull-right"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>
<include href="include/footer.htm"/>