<include href="include/header.htm" />
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="padding-top:50px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Form Pengajuan Pembiayaan (kredit)</h1>

                </div>

                <form method="POST" action="{{@ROOT}}/save_survei" class="customForm clearfix">
                    <div class="panel-body">
                        <h4 style='color: #636363'>
                            Saya dengan ini mengajukan pembiayaan (kredit) untuk pembelian produk :
                        </h4>
                        <hr/>
                        <input type="hidden" value="{{@user['agen']}}" name="ref_id" />
                        <input type="hidden" value="{{@user['link_id']}}" name="link_id" />
                        <div class="form-group clearfix">
                            <h2 class="title-heading">Jenis Produk</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <label >Mobil</label>
                                        <div class="checkbox">
                                            <label >
                                                <input class="jenis" type="radio" name="jenis"  value="1" disabled="disabled" /> Mobil Baru
                                            </label>
                                            <br/>
                                            <label>
                                                <input class="jenis" type="radio" name="jenis" value="2" disabled="disabled"/> Mobil Bekas
                                            </label>
                                            <br/>
                                            <label>
                                                <input class="jenis" type="radio" name="jenis" value="3" required="required"/> Mobil Maxi
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <label>Motor</label>
                                        <div class="checkbox">
                                            <label>
                                                <input class="jenis" type="radio" name="jenis" value="4" /> Motor Baru
                                            </label>
                                            <br/>
                                            <label>
                                                <input class="jenis" type="radio" name="jenis" value="5" /> Motor Bekas
                                            </label>
                                            <br/>
                                            <label>
                                                <input class="jenis" type="radio" name="jenis" value="6" /> Motor Maxi
                                            </label>

                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div id="merekapend" style="display: none" class="clearfix"></div>
                        <div id="produkappend" style="display: none" class="clearfix"></div>
                        <div id="afterproduk" style="display: none" class="clearfix"></div>

                        <hr>
                        <div class="form-group">
                            <label>Area</label>
                            <select class="form-control" id="area" name="area" required="required">
                                <option value="">-- pilih area --</option>
                                <repeat group="{{ @areas }}" key="{{ @ia }}" value="{{ @va }}">
                                    <option value="{{@va->id}}">{{@va->nama}}</option>
                                </repeat>
                            </select>
                        </div>
                        <div id="append" class="clearfix" style="display: none"></div>
                        <div id="cabangapend" style="display: none" class="clearfix"></div>
                        <h2 class="title-heading">Data Pribadi</h2>
                        <div class="form-group clearfix">
                            <label class="control-label">Nama lengkap
                                <span class="xml_data">*</span>
                            </label>
                            <input type="text" name="nama_client" class="form-control" placehorder="Nama Lengkap" required/>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label">Alamat
                                <span class="xml_data">*</span>
                            </label>
                            <input type="text" name="alamat_client" class="form-control" placehorder="Nama Lengkap" required/>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label">No KTP
                                <span class="xml_data">*</span>
                            </label>
                            <input type="text" name="ktp_client" class="form-control" placehorder="No KTP" required maxlength="20"/>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label">Telephone
                                <span class="xml_data">*</span>
                            </label>
                            <input type="text" name="telephone_client" class="form-control" placehorder="Telephone" required maxlength="12"/>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label" for="email">Email</label>
                            <input type="text" name="email_client" class="form-control" placehorder="Email" />
                        </div>
                        <div class="form-group clearfix ">
                            <fieldset>
                                <label class="control-label">Apakah anda pernah menggunakan produk Adira Finance? </label>
                                <div class="radio">
                                    <label class="control-label">
                                        <input type="radio" name="used" value="1" required="required"/> Ya
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" name="used" value="2" required="required"/> Tidak
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group clearfix ">
                            <label for='more'>Pesan</label>
                            <textarea name="more" id='more' class="form-control" placeholder="Warna, Tahun, Tipe"></textarea>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group clearfix " style='margin:0px; '>
                            <input class="btn btn-success pull-right" type="submit" value="submit" />

                            <a href="{{@ROOT}}/dashboard">&Lt; kembali ke Dashboard</a> 
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.jenis').on('click', function() {
            if ($('#produkappend').size())
                $('#produkappend').hide().html('');
            var htm_f = "<div class='form-group row'>"
                    + "<div class='col-md-6'>"
                    + "<label>Fasilitas Pembiayaan<br/><small>(masukkan dana tunai yang di ajukan)</small></label>"
                    + "<input type='text' name='dana' class='form-control' required='required'/>"
                    + "</div>"
                    + "<div class='col-md-6'>"
                    + "<label>Tahun kendaraan <br/><small>(masukkan tahun kendaraan yang di ajukan)</small></label>"
                    + "<input type='number' name='tahun' class='form-control' required='required' />"
                    + "</div>"
                    + "</div>";
            $('#merekapend').fadeOut().html('');
            if ($(this).val() == '3' || $(this).val() == '6') {
                $('#merekapend').html(htm_f).fadeIn();
            } else {
                $.post('{{@ROOT}}/get_merek', {
                    'jenis': $(this).val()
                }, function(data) {
                    $('#merekapend').html(data).fadeIn();
                });
            }
        });
        $('#area').on('change', function() {
            $('#append').html('').fadeOut();
            $('#cabangapend').html('').fadeOut();
            $.post('{{@ROOT}}/get_cabang', {
                aread_id: $(this).val()
            }, function(data) {
                $('#append').html(data).fadeIn()
            });
        });
    });

    function update_type() {
        $(document).ready(function() {
            var merek_id = ($(this).find('option:selected').val());
            var jenis_id = $(this).find('option:selected').data('id');
            $('#produkappend').fadeOut().html(' ');
            if (merek_id == 'others') {
                var others = '<div class="form-group clearfix">' +
                        '<label class="control-label">Merek lain' +
                        '<span class="xml_data">*</span>' +
                        '</label>' +
                        '<input type="text" required="" placeholder="Merek Lain" class="form-control" name="others_merek">'
                '</div>';
                $('#produkappend').html(others).fadeIn();
            } else {
                $.post('{{@ROOT}}/get_produk', {
                    jenis_id: jenis_id,
                    merek_id: merek_id
                }, function(data) {
                    $('#produkappend').html(data).fadeIn();
                });
            }
        });
    }
    function update_user() {
        $(document).ready(function() {
            var cabang = $('#cabang option:selected').val();
            $('#cabangapend').hide().html(' ');
            $.post("{{@ROOT}}/get_user", {
                cabang_id: cabang
            }, function(data) {
                if (data !== null) {
                    $('#cabangapend').html(data).fadeIn();
                }
            });
        });
    }

    function cek_produk(s) {
        $(document).ready(function() {
            if ($(s).val() == 'lainnya') {
                var appened = $('#afterproduk');
                var others = '<div class="form-group clearfix">' +
                        '<label class="control-label">Produk lain' +
                        '<span class="xml_data">*</span>' +
                        '</label>' +
                        '<input type="text" required="" placeholder="Produk Lain" class="form-control" name="others_produk">' +
                        '</div>';

                appened.html(others).fadeIn();
            }
        });
    }

</script>
<include href="include/footer.htm" />
