<ul class="pagination pagination-sm pull-right" >
    <F3:check if="{{@pg.firstPage}}"><li><a href="{{@BASE, @pg.route, @pg.firstPage}}">&lt;&lt;</a></li></F3:check>
    <F3:check if="{{@pg.prevPage}}"><li><a href="{{@BASE, @pg.route, @pg.prevPage}}">&lt;</a></li></F3:check>
    <F3:repeat group="{{@pg.rangePages}}" value="{{@page}}">
        <li {{@page == @pg.currentPage ? 'class="active"':'' }}><a href="{{@BASE, @pg.route, @page}}">{{@page}}</a></li>
    </F3:repeat>
    <F3:check if="{{@pg.nextPage}}"><li><a href="{{@BASE, @pg.route, @pg.nextPage}}">&gt;</a></li></F3:check>
    <F3:check if="{{@pg.lastPage}}"><li><a href="{{@BASE, @pg.route, @pg.lastPage}}">&gt;&gt;</a></li></F3:check>
</ul>

<div class="clearfix"></div>


