<include href="include/header.htm"/>
<include href="admin/menu.htm"/>
<section class="clearfix" id="content">
    <check if="{{isset(@GET.notification)}}">
        <check if="{{isset(@delstatus)}}">
            <true>
            <check if="{{$delstatus ==1}}">
                <true>
                <div class="alert alert-success">
                    <p>Deleted Substation success</p>
                </div>
                </true>
                <false>
                <div class="alert alert-danger">
                    <p>Error Deleting Substation(s)</p>
                </div>
                </false>
            </check>
            </true>
        </check>
        <div class="container clearfix">
            <check if="{{isset(@GET.notification) && @GET.notification=='error.exist'}}">
                <true>
                <div class="error">
                     sudah ada
                </div>
                </true>
            </check>
            <check if="{{isset(@GET.notification) && (@GET.notification == 'succes.add')}}">
                <true>
                <div class="success ">
                     berhasil di tambahkan
                </div>
                </true>
            </check>
            <check if="{{isset(@GET.notification) && (@GET.notification == 'succes.update')}}">
                <true>
                <div class="success">
                     berhasil di Update
                </div>
                </true>
            </check>
        </div>
    </check>
    <div class="container parent">
        <div class="row">
            <div class="col-md-3">
                <include href="admin/__admin_sidebar.htm"/>
            </div>
            <div class="col-md-9">
                <include if="{{!empty(@content)}}" href="{{@content}}"/>
            </div>
        </div>
    </div>
</section>
<include href="include/footer.htm">