<div class="animated fadeInUp">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-link"></span> Kategori</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover" style="margin-bottom: 0px">
                        <thead>
                            <tr>
                                <th style="width: 100px">NO</th>
                                <th>Kategori</th>
                            </tr>
                        </thead>

                        <tbody>
                        <repeat group="{{@categories}}" key="{{@ckey}}" value="{{@cat}}">
                            <tr id="kategori-{{@cat['id_cat']}}" class="category">
                                <td style="vertical-align: text-top">{{@ckey+1}}</td>
                                <td style="vertical-align: text-top" >
                            <check if="{{$obj_kategori->get_child_count(@cat['id_cat'])>0}}">
                                <true>
                                <ul class="parent">
                                    <li><a class="edit-kategori" href="#edit" title="edit kategori {{@cat['nama']}}" data-katid="{{@cat['id_cat']}}" data-katname="{{@cat['nama']}}" data-katparent="{{@cat['parent_cat']}}">{{@cat['nama']}}</a> <a class="remove" href="{{@ROOT.'/admin/produk_katergori?idcat='.@cat['id_cat']}}"><i class="glyphicon glyphicon-remove"></i></a></li>
                                    <ul class="child">
                                        <repeat group="{{$obj_kategori->get_child(@cat['id_cat'])}}" key="{{@cildk}}" value="{{@childv}}">
                                            <li><a class="edit-kategori"  data-katid="{{$childv['id_cat']}}" data-katname="{{$childv['nama']}}" data-katparent="{{$childv['parent_cat']}}" href="#edit" title="edit kategori {{$childv['nama']}}">{{$childv['nama']}}</a> <a class="remove" href="{{@ROOT.'/admin/produk_katergori?idcat='.$childv['id_cat']}}"><i class="glyphicon glyphicon-remove"></i></a></li>
                                        </repeat>
                                    </ul>
                                </ul>
                                </true>
                                <false>
                                <ul>
                                    <li><a class="edit-kategori" href="#edit" title="edit kategori {{@cat['nama']}}" data-katid="{{@cat['id_cat']}}" data-katname="{{@cat['nama']}}" data-katparent="{{@cat['parent_cat']}}">{{@cat['nama']}}</a> <a class="remove" href="{{@ROOT.'/admin/produk_katergori?idcat='.@cat['id_cat']}}"><i class="glyphicon glyphicon-remove"></i></a></li>
                                </ul>
                                </false>
                            </check>

                            </td>
                            </tr>
                        </repeat>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a id="btn_add-kategori" class="btn btn-group-lg btn-primary pull-right" data-toggle="modal" data-target="#modal-add-kategori" style="font-size: 130% ; padding-top: 10px; padding-bottom: 10px">
            Tambah kategori
        </a>
    </div>
    <include href="__admin_sidebar.htm"/>
</div>

<div class="modal fade animated" id="modal-add-kategori" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="modal-add-kategori-title" class="modal-title">Tambah Kategori</h4>
                </div>
                <div class="modal-body">
                    <input id="kategori-id" type="hidden" name="id" value="">
                    <div class="form-group">
                        <label class="control-label" for="name">Nama Kategori</label>
                        <input id="kategori-name" type="text" class="form-control" placeholder="Nama Kategori" required autofocus name="nama_kategori">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name">Parent</label>
                        <select name="parent_id" id="parent_id" class="form-control">
                            <option value="">-- chose parent --</option>
                            <repeat group="{{@categories}}" key="{{@cakey}}" value="{{@acat}}">
                                <option value="{{@acat['id_cat']}}" >{{@acat['nama']}}</option>
                            </repeat>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-kategory-submit" type="submit" class="btn btn-primary">Tambah Kategori</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.edit-kategori').on('click', function() {
            var katparent = $(this).data('katparent');
            $('#modal-add-kategori-title').text('Update Kategori');
            $('#add-kategory-submit').text('Update Kategori');
            $('#kategori-id').val($(this).data('katid'));
            $('#kategori-name').attr('value', $(this).data('katname'));
            $('#parent_id option').removeAttr('selected');
            if (katparent > 0) {
                $('#parent_id').find('option').each(function(i) {
                    if ($(this).val() == katparent) {
                        $(this).attr('selected', 'selected');
                    }
                });
            } else {
                $('#parent_id').find('option:first-child').attr('selected', 'selected');
            }
            $('#modal-add-kategori').modal({
                'show': true
            });

            return false;
        });
        
        $('#btn_add-kategori').on('click',function(){
            $('#modal-add-kategori-title').text('Tambah Kategori');
            $('#add-kategory-submit').text('Tambah Kategori');
        });
    });
</script>