<include href="include/header.htm"/>
<include href="users/menu.htm"/>
<!--- body -->
<section class="clearfix" id="content">
    <include if="{{!empty(@content)}}" href="{{@content}}"/>
</section>
<div class="modal fade" id="ProfilView">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Lihat Profil</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table table-bordered table-striped table-condensed">
                        <tr><td>Nama Lengkap</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'name')}} {{@obj_users->get_user('id',@SESSION.user.user_id, 'last_name')}}</td></tr>
                        <tr><td>Email</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'mail')}}</td></tr>
                        <tr><td>Alamat</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'address')}}</td></tr>
                        <tr><td>Telp</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'telephone')}}</td></tr>
                        <tr><td>NIK</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'nik')}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="formUpdateUser" class="mfp-hide white-popup-block">
    <form method='POST' action='/dashboard' class="customForm">
        <div class="modal-heading">
            <h2>Update Personal data</h2>
        </div>
        <div class="modal-body">
            <input type="hidden" name="id_us" value="{{@SESSION.user.user_id}}"/>
            <input type="hidden" name="username" value="{{@obj_users->get_user('id',@SESSION.user.user_id,'user_login')}}"/>
            <div class="form-group">
                <label class="control-label" for="pass">Nama depan</label>
                <input id="pass" type="text" class="form-control"name="fname" value="{{@obj_users->get_user('id',@SESSION.user.user_id,'name')}}">
            </div>
            <div class="form-group">
                <label class="control-label" for="pass">Nama terahir</label>
                <input id="pass" type="text" class="form-control" name="lname" value="{{@obj_users->get_user('id',@SESSION.user.user_id,'last_name')}}">
            </div>
            <div class="form-group">
                <label class="control-label" for="pass">{{@tag_mail}}</label>
                <input id="pass" type="email" class="form-control" placeholder="{{@tag_mail}}" required name="email" value="{{@obj_users->get_user('id',@SESSION.user.user_id,'mail')}}">
            </div>
            <div class="form-group">
                <label class="control-label" for="address">Alamat</label>
                <input id="address" type="text" class="form-control" placeholder="Alamat"  name="address" value="{{@obj_users->get_user('id',@SESSION.user.user_id,'address')}}">
            </div>
            <div class="form-group">
                <label class="control-label" for="phone">Telephone</label>
                <input id="phone" type="text" class="form-control" placeholder="Telephone" required name="telephone" value="{{@obj_users->get_user('id',@SESSION.user.user_id,'telephone')}}">
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Update"/>
        </div>
    </form>
</div>
<include href="include/footer.htm"/>