<include href="include/header.htm" />
<include href="users/menu.htm" />
<div class="container parent">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <h2>
                error {{@ERROR.text}} - {{@ERROR.code}}
            </h2>
            <repeat group="{{ @ERROR.trace }}" key="{{@k}}"value="{{ @e }}">
                <p>{{@k}} . error : function {{@e.function}}, line {{@e.line}}</p>
            </repeat>
            <pre>
{{print_r(@ERROR)}}
            </pre>
        </div>
    </div>
</div>


<include href="include/footer.htm" />
