<include href="include/header.htm"/>
<div class="container" style="margin-top: 10px;">
    <div class="row" style="">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="padding-top:100px;">
            <form class="form-signin" method="POST" action="{{@ROOT}}/add_user"  >


                <div class="alert alert-danger {{isset(@GET.notification) && @GET.notification == 'error.exist' ? 'bounceIn in' : ''}} animated" style="display: {{isset(@GET.notification) && @GET.notification == 'error.exist' ? '' : 'none'}}">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <strong>Error!</strong>
                    {{isset(@reg_msg_error)?'Account sudah ada':''}}
                </div>
                <div class="panel panel-default " style="background-color: white">
                    <div class="panel-heading">
                        <h1>Selamat Datang di Nabungtanpauang.com</h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label class="control-label" for="fnama">Nama pertama</label>
                                <input id="fnama" type="text" class="form-control" placeholder="Nama Pertama" required="required" autofocus name="fnama"/>
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label" for="lnama">Nama terakhir</label>
                                <input id="lnama" type="text" class="form-control" placeholder="Nama Terakhir" required="required" autofocus name="lnama"/>    
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6" >
                                <label class="control-label" for="email">Email</label>
                                <input id="email" type="email" class="form-control" placeholder="Email" required="required" autofocus name="email"/>
                            </div>
                            <div class="col-lg-6" >
                                <label class="control-label" for="phone">Telepone</label>
                                <input id="phone" type="text" class="form-control" placeholder="Telepone" required="required" autofocus name="telephone"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="address">Alamat</label>
                            <input id="address" type="text" class="form-control" placeholder="Alamat" required="required" autofocus name="address"/>
                        </div>
                        <div class="form-group " id="adira">
                            <label class="control-label" for="ewalletID" >
                                Adira Box
                                <small>(Nomor Adira Finance Club)</small>
                            </label>
                            <input id="ewalletID" type="text" class="form-control" placeholder="Nomor Adira Finance Club" required="required" autofocus name="ewallet_id"/>
                        </div>
                        
                        <hr/>
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="hidden" name="username" id="u" value=""/>
                            <input id="username" type="text" class="form-control" placeholder="Username" required="required" autofocus name="uname"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input id="password" type="password" class="form-control" placeholder="Password" required="required" autofocus name="password"/>
                        </div>
                        <hr/>
                        <div class="form-group clearfix" >
                            <label class="control-label" for="">Terms & Conditions</label>
                            <div class="col-lg-12" id="tnc">
                                {{@obj_config->get_config_field_value('value','tnc','data')}}
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="radio-inline col-md-offset-3">
                                <input type="radio" name="term" value="1" class="term" required="required"/> Setuju
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="term" value="2" class="term" /> Tidak Setuju
                            </label>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <a href="{{@ROOT}}">halaman utama</a>
                        <button disabled="disabled" class="btn btn-md btn-primary pull-right" id="btn-add"  type="submit">{{@reg_btn_register}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var val = '';
        var id_w = false;
        var dis = false;
        $('#ewalletID').on('change', function() {
            val = $(this).val();
            $('#username , #u').val(val.replace(/\s/g, '-'));
            $.post('{{@ROOT}}/api/check',
                    {'obligorid': $(this).val()},
            function(data) {
                var datas = $.parseJSON(data);
                $('#adira').removeClass('has-success has-feedback has-error has-feedback').find('span').remove();
                if (datas.Status == 0) {
                    $('#ewalletID').after('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
                    $('#adira').addClass('has-success has-feedback');
                    $('#username').attr('disabled', 'disabled');
                    if ($('.term:checked').val() == 1) {
                        $('#btn-add').removeAttr('disabled');
                    }
                } else {
                    $('#ewalletID').after('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
                    $('#adira').addClass('has-error has-feedback');
                    $('#btn-add').attr('disabled', 'disabled');
                }
            });

        });
        $('.term').on('click', function() {
            if ($('.term:checked').val() == 1) {
                if ($('.has-success').size() > 0) {
                    $('#btn-add').removeAttr('disabled');
                }
            } else {
                $('#btn-add').attr('disabled', 'disabled');
            }
        });
    });
</script>
<include href="include/footer.htm"/>