<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="{{@root}}/3rdparty/bootstrap/css/bootstrap.css" media="screen">
        <link rel="stylesheet" href="{{@root}}/3rdparty/animate/animate.css" media="screen">
        <link rel="stylesheet" href="{{@root}}/assets/css/signin.css" media="screen">
        <link rel="stylesheet" href="{{@root}}/3rdparty/bootstrap/css/style.css" media="screen">
        <link rel="stylesheet" href="{{@root}}/3rdparty/bootstrap/css/color-red.css" media="screen">

        <script src="{{@root}}/3rdparty/jquery/jquery.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{@root}}/3rdparty/bootstrap/js/html5shiv.js"></script>
        <script src="{{@root}}/3rdparty/bootstrap/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container" style="margin-top: 0px">

            <form class="form-signin" method="POST" action="" style="max-width: 600px">

                <div class="container well {{isset(@GET.notification) && @GET.notification == 'error.credentials' ? '' : 'fadeInDown'}} animated" style="background-color: white">

                    <div class="form-group">
                        <label class="control-label" for="name">root</label>
                        <input id="name" type="text" class="form-control" placeholder="root" required autofocus name="root" value="{{@root}}">
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="name">Language</label>
                        <select id="sel-ewallet" class="form-control" style="border-radius: 0px" name="language">
                                <option value="en" >EN</option>
                                <option value="es" >ES</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="mysql_host">Mysql Host</label>
                        <input id="mysql_host" type="text" class="form-control" placeholder="Mysql Host" required name="mysql_host" value="localhost">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="mysql_port">Mysql Port</label>
                        <input id="mysql_port" type="number" class="form-control" required name="mysql_port" value="3306">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="mysql_db">Mysql DB</label>
                        <input id="mysql_db" type="text" class="form-control" placeholder="Mysql DB" required name="mysql_db" value="refmanager_db">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="username">Mysql USER</label>
                        <input id="username" type="text" class="form-control" placeholder="Usuario" required autofocus name="mysql_user" value="root">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="pass">Mysql PASSWORD</label>
                        <input id="pass" type="password" class="form-control" placeholder="Mysql PASSWORD" required name="mysql_pass">
                    </div>
                    <div >
                        <button class="btn btn-md btn-primary pull-right" type="submit">Install</button>
                    </div>


                </div>
            </form>

        </div> <!-- /container -->

        <script src="{{@root}}/3rdparty/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{@root}}/assets/js/app.js"></script>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
    </body>
</html>
