<include href="include/header.htm"/>
<div class="row">
    <div class="container" style="background-color: white;max-width: 400px" >
        <form class="form-signin" method="POST" action="" >
            <div class="alert alert-danger {{isset(@notification) && @notification == 'error' ? 'bounceIn in' : ''}} animated" style="display: {{isset(@notification) && @notification == 'error' ? '' : 'none'}}">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <strong>Error!</strong>
                Kesalahan data: Tidak ada data yang cocok.
            </div>
            <div class="alert alert-info {{isset(@notification) && @notification == 'info' ? 'bounceIn in' : ''}} animated" style="display: {{isset(@notification) && @notification == 'info' ? '' : 'none'}}">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <strong>{{@tag_info}}!</strong>
                Password baru terkirim ke email anda
            </div>

            <blockquote><h5>Isi informasi yang diperlukan untuk mereset password Anda. Password baru akan dikirim ke akun email Anda.</h5></blockquote>

            <div class="form-group">
                <label class="control-label" for="username">Nama Depan</label>
                <input id="username" type="text" class="form-control" placeholder="Nama Depan" required autofocus name="username"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="lastname">Nama Terahir</label>
                <input id="lastname" type="text" class="form-control" placeholder="Nama Terahir" required autofocus name="lastname"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="email">{{@tag_mail}}</label>
                <input id="email" type="email" class="form-control" placeholder="Email" required name="email"/>
            </div>
            <div class="form-group clearfix">
                <a href="{{@ROOT}}">kembali ke halaman utama</a>
                <button class="btn btn-md btn-primary pull-right" type="submit">{{@tag_send}}</button>
            </div>
        </form>
    </div>
</div>

<include href="include/footer.htm"/>