<include href="include/header.htm" />
<include href="users/menu.htm" />

<include if="{{!empty(@content)}}" href="{{@content}}" />
<check if="{{!empty(@SESSION)}}">
    <true>
    <div class="modal fade" id="ProfilView">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Lihat Profil</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table table-bordered table-striped table-condensed">
                            <tr><td>Nama Lengkap</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'name')}} {{@obj_users->get_user('id',@SESSION.user.user_id, 'last_name')}}</td></tr>

                            <tr><td>Email</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'mail')}}</td></tr>

                            <tr><td>Alamat</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'address')}}</td></tr>

                            <tr><td>Telp</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'telephone')}}</td></tr>

                            <tr><td>EWallet</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'ewallet_type')}}</td></tr>

                            <tr><td>No. Adira Finance Club</td><td>{{@obj_users->get_user('id',@SESSION.user.user_id, 'ewallet_login')}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </true>
</check>
<include href="include/footer.htm" />
