<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-align-justify"></span> Menu</div>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ @ROOT }}/admin"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
        <li class="list-group-item">
            <a href="{{@ROOT}}/admin/article">
                <span class="fa fa-book"></span> Article
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> Users <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li> 
                    <a href="{{@ROOT}}/admin/users/agen">
                        <span class="glyphicon glyphicon-user"></span> Agen
                    </a>
                </li>
                <li>
                    <a href="{{@ROOT}}/admin/users/cabang">
                        <span class="glyphicon glyphicon-user"></span> User Cabang
                    </a>
                </li>
            </ul>
        </li>
        <li class="{{@content == 'page_admin_produk.htm' || @content=='admin_produk_category.htm' ? 'active' : ''}} list-group-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-link"></span> Produk <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{@ROOT}}/admin/produk">
                        <span class="glyphicon glyphicon-link"></span> Produk
                    </a>
                </li>
                <li>
                    <a href="{{@ROOT}}/admin/produk_katergori">
                        <span class="glyphicon glyphicon-link"></span> Merek
                    </a>
                </li>
            </ul>
        </li>
        <li  class="list-group-item">
            <a href="{{@ROOT}}/admin/survei/list"><span class="glyphicon glyphicon-list"></span> Lihat Daftar Survei</a>
        </li>
        <!--        <li class="list-group-item">
                    <a href="{{ @ROOT }}/admin/ewallets"><span class="glyphicon glyphicon-credit-card"></span> {{@tag_wallets}}</a>
                </li>-->

        <li  class="list-group-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-university"></span> Cabang <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ @ROOT }}/admin/substations">
                        <span class="fa fa-university"></span> Cabang
                    </a>
                </li>
                <li>
                    <a href="{{@ROOT}}/admin/area">
                        <span class="fa fa-university"></span> Cabang Area
                    </a>
                </li>
            </ul>
        </li>
        <li class="list-group-item"><a href="{{ @ROOT }}/admin/config"><span class="glyphicon glyphicon-cog"></span> {{@tag_config}}</a></li>
        <check if="{{!empty(@SESSION.user)}}">
            <true>
            <li class="list-group-item">
                <a href="{{@ROOT}}/logout"><span class="fa fa-sign-out"></span> Log Out</a>
            </li>
            </true>
        </check>
        </li>
    </ul>
</div>





<div class="panel panel-default" style="display: {{@content == 'page_admin_config.htm' ? '' : 'none'}}">
    <div class="panel-heading"><span class="glyphicon glyphicon-lock"></span> Change Password</div>
    <div class="panel-body">
        <form method='POST' action=''>
            <div class="form-group">
                <label class="control-label" for="password">{{@tag_new_pass}}</label>
                <input id="pass" type="password" class="form-control" placeholder="{{@tag_new_pass}}" name="password">
            </div>
            <div class="form-group">
                <label class="control-label" for="password_old">{{@tag_old_pass }}</label>
                <input id="password_old" type="password" class="form-control" placeholder="{{@tag_old_pass }}" required name="password_old">
            </div>
            <button type="submit" class="btn btn-primary pull-right">{{@tag_upd}}</button>
        </form>
    </div>
</div>

<span style="text-align: right; display: block; margin: 5px 0px;">Login hari ini: {{date('d M,Y')}}</span>
<div id="deleted" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Delete <span class="glyphicon glyphicon-remove"></span></h2>
            </div>
            <div class="modal-body">
                Apakah Anda akan menghapus data ini?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-danger" data-href="" data-dismiss="modal" id="yes">Hapus</button>
            </div>
        </div>        
    </div>    
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $('a.delet').on('click', function() {
            $('#deleted').modal();
            $('#deleted').find('#yes').attr('data-href', $(this).attr('href'));
            return false;
        });
        $('#yes').on('click', function() {
            window.location = ($(this).data('href'));
        })
    });
</script>