<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-align-justify"></span> Menu</div>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ @ROOT }}/admin"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
        <li class="list-group-item">
            <a href="{{@ROOT}}/admin/article">
                <span class="fa fa-book"></span> Article
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> Users <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li> 
                    <a href="/admin/users/agen">
                        <span class="glyphicon glyphicon-user"></span> Agen
                    </a>
                </li>
                <li>
                    <a href="/admin/users/cabang">
                        <span class="glyphicon glyphicon-user"></span> Cabang
                    </a>
                </li>
            </ul>
        </li>
        <li class="{{@content == 'page_admin_produk.htm' || @content=='admin_produk_category.htm' ? 'active' : ''}} list-group-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-link"></span> Produk <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{@ROOT}}/admin/produk">
                        <span class="glyphicon glyphicon-link"></span> Produk
                    </a>
                </li>
                <li>
                    <a href="{{@ROOT}}/admin/produk_katergori">
                        <span class="glyphicon glyphicon-link"></span> Produk Kategori
                    </a>
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <a href="{{ @ROOT }}/admin/ewallets"><span class="glyphicon glyphicon-credit-card"></span> {{@tag_wallets}}</a>
        </li>

        <li  class="list-group-item">
            <a href="{{ @ROOT }}/admin/substations">
                <span class="fa fa-university"></span> {{@tag_cabang}}
            </a>
            <ul class="dropdown-menu">
                <li class="list-group-item">
                    <a href="{{@ROOT}}/admin/area">
                        Cabang Area
                    </a>
                </li>
            </ul>
        </li>
        <li class="list-group-item"><a href="{{ @ROOT }}/admin/config"><span class="glyphicon glyphicon-cog"></span> {{@tag_config}}</a></li>
        <check if="{{!empty(@SESSION.user)}}">
            <true>
            <li class="list-group-item">
                <a href="/logout"><span class="fa fa-sign-out"></span> Log Out</a>
            </li>
            </true>
        </check>
        </li>
    </ul>
</div>



<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> Statistik</div>
    <div class="panel-body">
        <h5><b>Pengguna</b></h5>
        <table class="table table-hover" style="margin-bottom: 0px">
            <tr>
                <td>Terdaftar:</td>
                <td class="text-right">{{@obj_users->get_users_counts()}}</td>
            </tr>
            <tr>
                <td>Dikonfirmasi:</td>
                <td class="text-right">{{@obj_users->get_users_confirmed_counts()}}</td>
            </tr>
        </table>
        <h5><b>Produk</b></h5>
        <table class="table table-hover" style="margin-bottom: 0px">
            <tr>
                <td>{{@tag_links}}:</td>
                <td class="text-right">{{@obj_produk->get_produk_counts()}}</td>
            </tr>
        </table>
        <h5><b>Data Survei</b></h5>
        <table class="table table-hover" style="margin-bottom: 0px">
            <tr>
                <td>Terdaftar:</td>
                <td class="text-right">-data dikirim-</td>
            </tr>
            <tr>
                <td>Gagal:</td>
                <td class="text-right">Di tolak</td>
            </tr>
            <tr>
                <td>Diterima:</td>
                <td class="text-right">di terima</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default" style="display: {{@content == 'page_admin_config.htm' ? '' : 'none'}}">
    <div class="panel-heading"><span class="glyphicon glyphicon-lock"></span> Change Password</div>
    <div class="panel-body">
        <form method='POST' action=''>
            <div class="form-group">
                <label class="control-label" for="password">{{@tag_new_pass}}</label>
                <input id="pass" type="password" class="form-control" placeholder="{{@tag_new_pass}}" name="password">
            </div>
            <div class="form-group">
                <label class="control-label" for="password_old">{{@tag_old_pass }}</label>
                <input id="password_old" type="password" class="form-control" placeholder="{{@tag_old_pass }}" required name="password_old">
            </div>
            <button type="submit" class="btn btn-primary pull-right">{{@tag_upd}}</button>
        </form>
    </div>
</div>

<span style="text-align: right; display: block; margin: 5px 0px;">Login hari ini: {{date('d M,Y')}}</span>
