<div class="panel panel-default">
    <div class="panel-heading">Dashboard Payment</div>
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-dark">
            <thead>
                <tr>
                    <th>id</th>
                    <th>{{@tag_wallet}}</th>
                    <th>{{@tag_link_reg}}</th>
                    <th class="text-center">{{@tag_users}}</th>
                    <th style="width: 50px"></th>
                </tr>
            </thead>
            <tbody>
            <repeat group="{{@obj_ewallets->get_ewallets()}}" key="{{@ekey}}" value="{{@e}}">
                <tr>
                    <td>{{@ekey +1}}</td>
                    <td>{{@e->ewallet_type}}</td>
                    <td>{{@e->ewallet_url}}</td>
                    <td class="text-center">{{@obj_users->get_ewallet_users_count(@e->id)}}</td>
                    <td style="width: 50px">
                        <a class="edit-ewallet" data-id="{{@e->id}}" data-ewallet="{{@e->ewallet_type}}" data-ewallet-link="{{@e->ewallet_url}}"  href="#modal-add-wallet">
                            <span class="icon-edit-alt"></span>
                        </a>
                    </td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>