<div class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th></th>
                    <th>{{@tag_date}}</th>
                    <th>{{@tag_username}}</th>
                    <th>{{@tag_code}}</th>
                    <th>{{@tag_link}}</th>
                    <th>{{@tag_payment}}</th>
                    <th>{{@tag_wallet}}</th>
                    <th>{{@tag_refund}}</th>
                    <th>{{@tag_status}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{*<repeat group="{{@obj_his->get_history(null,array('order'=>'date DESC','limit'=>@limit,'offset'=>@offset))}}" key="{{@hkey}}" value="{{@h}}">
                <tr>
                    <td class="text-center" style="vertical-align: middle"><input class="check-his" type="checkbox" name="hid[]" value="{{@h->id}}"></td>
                    <td class="text-center" style="vertical-align: middle">{{@h->date}}</td>
                    <td class="text-center" style="vertical-align: middle">{{@obj_users->get_user('id',@h->user_id, 'name')}}</td>
                    <td class="text-center">{{@obj_users->get_user('id',@h->user_id, 'code')}}</td>
                    <td class="text-center">{{@obj_brokers->get_broker(@h->broker_id, 'company')}}</td>
                    <td class="text-center">$ {{@h->pay}}</td>
                    <td class="text-center">{{(@obj_users->get_user('id',@h->user_id, 'ewallet_id') != NULL)?@obj_ewallets->get_ewallet(@obj_users->get_user('id',@h->user_id, 'ewallet_id'), 'ewallet_type'):''}}</td>
                    <td class="text-center">$ {{@obj_brokers->get_broker(@h->broker_id, 'reg_val')}}</td>
                    <td class="text-center">
                        <select class="sel-status form-control" style="border-radius: 0px" name="his_status_id{{@h->id}}" data-target="{{@h->id}}">
                            <repeat group="{{@obj_status->get_status()}}" key="{{@skey}}" value="{{@s}}">
                                <option {{ @h->status == @s->id ? 'selected' : '' }} value="{{@s->id}}">{{@s->desc}}</option>
                            </repeat>
                        </select>
                    </td>
                    <td class="text-center" style="vertical-align: middle"><a style="margin-left: 5px" href="{{@ROOT}}/admin?action=delete&item={{@h->id}}"><span class="glyphicon glyphicon-remove"></span</a></td>
                </tr>
                </repeat>*}}
            </tbody>
        </table>
    </div>
</div>