<div class="panel panel-default">
    <div class="panel-heading">Artikel</div>
    <div class="panel-body">
        <p>
            <a data-toggle="modal" data-target="#article" id="add" href="#article">
                <button class="btn btn-success"><i class="fa fa-plus"></i> Tambah artikel</button>
            </a>
        </p>
    </div>

    <div class="table-responsive">
        <table class="table table-condensed table-dark">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>Judul</th>
                    <th style="width: 30%">Kontent</th>
                    <th>Lokasi</th>
                    <th style="width: 30%">Link</th>
                    <th> <span class="glyphicon glyphicon-list glyphicon"></span> </th>
                </tr>
            </thead>
            <tbody>
            <check if="{{@obj_article->get_count() >0}}">
                <true>
                <repeat group="{{@obj_article->get_article()}}" key="{{@ka}}" value="{{@va}}">
                    <tr>
                        <td>
                            {{@ka+1}}
                        </td>
                        <td>
                            {{@va->judul}}
                        </td>
                        <td>
                            {{@plug_text->trim_text(@va->content,100)}}
                        </td>
                        <td>
                            {{@obj_article->lokasi_link(@va->link)}}<br/>
                            Di halaman {{@obj_article->generate_lokasi(@va->lokasi)}}
                        </td>
                        <td>
                            {{*@obj_article->get_link_name(@va->link)*}}
                            <a href="{{@ROOT}}/view/{{@va->slug}}" target="blank">
                                {{@ROOT}}/view/{{@va->slug}}
                            </a>
                        </td>
                        <td>
                            <a href="{{@ROOT}}/admin/article/edit/{{@va->id}}" class="edit"  >
                                <span class="glyphicon glyphicon-edit text-success"></span>
                            </a>
                            |
                            <a href="{{@ROOT}}/admin/article?remove={{@va->id}}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                </repeat>
                </true>
                <false>
                <tr>
                    <td rowspan="4">Maaf, tidak ada artikel</td>
                </tr>
                </false>
            </check>
            </tbody>
        </table>
    </div>
</div>

<div id="article" class="modal fade">
    <form action="{{@ROOT}}/admin/article/simpan" method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Tambah Article</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="judul">Judul</label>
                        <input class="form-control" type="text" name="judul" value="" id="judul" required="required"/>
                    </div>
                    <div class="form-group">
                        <label>Slug</label>
                        <input type="text" name="slug" value="" class="form-control" required="" id="slug" style="text-transform: lowercase" />
                    </div>
                    <div class="form-group row ">
                        <div class="col-lg-8">
                            <label for="posisi">Posisi Link</label>
                            <select name="posisi" required class="form-control" id="posisi">
                                <option value="">-- pilih posisi --</option>
                                <option value="1">Header</option>
                                <option value="2">Footer</option>
                                <option value="3">Sidebar</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label for="lokasi">Lokasi Link</label>
                            <select name="lokasi" required class="form-control" id="lokasi">
                                <option value="">-- pilih lokasi --</option>
                                <option value="1">Halaman Agen</option>
                                <option value="2">Halaman Cabang</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content">Isi artikel</label>
                        <textarea class="form-control ckeditor" id="content" name="content" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="featured" value="4" id="featured"/> Gunakan sebagai Featured Article *
                        </label>
                        <p><small>Akan mengganti Article yang sebelumnya</small></p>
                    </div>
                    <div class="form-group">
                        <label for="foto" id="img">Foto</label>
                        <input type="file" name="foto" id="foto"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Simpan" class="btn btn-success"/>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var val = '';
        $('#judul').on('change', function () {
            val = $(this).val();
            $('#slug').val(val.replace(/\s/g, '-'));
        });
        $('#slug').on('change', function () {
            val = $(this).val();
            $(this).val(val.replace(/\s/g, '-'));
        });
        $('#featured').on('click', function () {
            if ($(this).is(':checked'))
                $('#link').attr('disabled', 'disabled');
            else
                $('#link').removeAttr('disabled');
        });
    });
</script>
