<div class="panel panel-default">
    <div class="panel-heading">Dashboard Produk</div>
    <div class="panel-body">
        <p>
            <a data-toggle="modal" href="#produk" id="add">
                <button class="btn btn-success"><i class="fa fa-plus"></i> Tambah produk</button>
            </a>
        </p>
        {{@pagebrowser | raw}}
        <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nama Produk</th>
                        <th>Jenis</th>
                        <th class="text-center">Jumlah klik</th>
                        <th class="text-center">Disetujui</th>
                        <th class="text-center" style="width: 50px"><span class="glyphicon glyphicon-list glyphicon"></span></th>
                    </tr>
                </thead>
                <tbody>

                <check if="{{count(@allproduk)>0}}">
                    <true>
                    <repeat group="{{@allproduk}}" key="{{@bkey}}" value="{{@b}}">
                        <tr>
                            <td class="img">
                                <a href="{{@ROOT}}/assets/images/{{@b->foto}}">
                                    <img src="{{@ROOT}}/assets/images/{{@b->foto}}" style="max-width: 150px;width: 100%"/>
                                </a>
                            </td>
                            <td>{{@b->produk}} ({{$obj_kategori->get_kategori_field($b->merek,'nama')}})</td>
                            <td>
                                {{@c_tools->get_jenis_produk(@b->jenis)}}
                            </td>
                            <td class="text-center">
                                {{@dklik[@bkey]['diklik']}}

                            </td>
                            <td class="text-center"> {{@dklik[@bkey]['accepted']}}</td>
                            <td style="width: 50px">
                                {{* <a class="edit-broker" data-toggle="modal"  data-id="{{@b->id}}" data-merek="{{@b->merek}}" data-name="{{$b->produk}}" data-desc="{{@b->desc}}" data-company="{{@b->produk}}"  href="#modal-add-broker">
                                <span class="glyphicon glyphicon-edit"></span></a> *}}
                                <a style="margin-left: 5px" href="{{ @ROOT.'/admin/produk?action=delete&item='.@b->id}}"><span class="glyphicon glyphicon-remove glyphicon"></span</a>
                            </td>
                        </tr>
                    </repeat>
                    </true>
                    <false>
                    <tr>
                        <td rowspan="5">
                            Maaf, belum ada produk
                        </td>
                    </tr>
                    </false>
                </check>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="produk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="" class="customForm" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="modal-add-broker-title" class="modal-title" >Tambah Produk</h4>
                </div>
                <div class="modal-body">
                    <input id="broker-id" type="hidden" name="id" value=""/>

                    <div class="form-group">
                        <label class="control-label" for="produk">Nama Produk</label>
                        <input id="produk" type="text" class="form-control" placeholder="Nama Produk" required autofocus name="produk"/>
                    </div>
                    <div class="form-group">
                        <label>Jenis Produk</label>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-6" >
                            <fieldset>
                                <legend>Mobil</legend>
                                <input class="c" required="" type="checkbox" name="jenis[]" value="1"/> Mobil Baru<br/>
                                <input class="c" required="" type="checkbox" name="jenis[]" value="2"/> Mobil Bekas<br/>
                                <input class="c" required="" type="checkbox" name="jenis[]" value="3"/> Mobil Maxi<br/>
                            </fieldset>
                        </div>
                        <div class="col-lg-6" >
                            <fieldset>
                                <legend>Motor</legend>
                                <input class="c" required="" type="checkbox" name="jenis[]" value="4"/> Motor Baru<br/>
                                <input class="c" required="" type="checkbox" name="jenis[]" value="5"/> Motor Bekas<br/>
                                <input class="c" required="" type="checkbox" name="jenis[]" value="6"/> Motor Maxi<br/>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Merek Produk</label>
                        <select name="merek" id="parent" required class="form-control" >
                            <option value="">-pilih salah satu -</option>
                            <repeat group="{{$categories}}" key="{{$ck}}" value="{{$cv}}">
                                <option value="{{$cv['id_cat']}}">{{$cv['nama']}}</option>
                            </repeat>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="desc">Deskripsi Produk</label>
                        <textarea id="desc" class="form-control" required name="desc"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="foto">Foto Produk</label>
                        <input type="file" name="produk_file" id="foto"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="add-broker-submit" type="submit" class="btn btn-primary" value="Tambah"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $('#forapend').hide();
        $('.c').on('click', function() {
            if ($('.c:checked').size() > 0) {
                $('.c').removeAttr('required');
            } else {
                $('.c').attr('required', 'required');
            }
        });
        $('#parent').on('change', function() {
            var id = ($(this).val());
            var dana = "<div id=\"dana\" class=\"form-group merek\">" +
                    "<label>Nominal</label>" +
                    "<input type=\"text\" name=\"nominal\" class=\"form-control\"  placeholder=\"Nominal\"/>" +
                    "</div>";
            var text = $(this).children('option:selected').text();
            text = text.replace(' ', '');

            if (text.toLowerCase() === 'danatunai') {
                $('#forapend').fadeOut().html(' ');
                $(dana).appendTo('#forapend').parent().hide();
                $('#forapend').fadeIn();
            } else {
                $.ajax({
                    url: '{{@ROOT}}/admin/get_cat',
                    type: 'post',
                    data: {'id_parent': id},
                    success: function(s) {
                        $('#forapend').fadeOut().html(' ');
                        $(s).appendTo('#forapend').parent().hide();
                        $('#forapend').fadeIn();
                    },
                    error: function() {
                        console.log('gagal');
                    }
                });
            }
//            $.post("{{@ROOT}}/admin/get_cat", {'id_parent': id}, function(s) {
//               console.log(s);
//            });

        });
    });
</script>