<div class="clearfix" style="margin-bottom: 5px;">
    <strong style="display: block; margin: 5px 0px;" class="left">Dashboard Area</strong>
    <a id="area" class="btn right" data-toggle="modal" href="#modal-add-area" style="font-size: 130% ; padding-top: 10px; padding-bottom: 10px"> <i class="icon-plus"></i> Tambah Produk </a>
</div>
<table class="responsive" style="margin-bottom: 0px">
    <thead>
        <tr>
            <th style="width:20px;">NO</th>
            <th>Nama</th>
            <th> ~ </th>
        </tr>
    </thead>
    <tbody>
    <check if="{{count(@areas) >0}}">
        <true>
        <repeat group="{{ @areas }}" key="{{ @kareas }}" value="{{ @vareas }}">
            <tr>
                <td>
                    {{@kareas +1}} 
                </td>
                <td>
                    {{@vareas->nama}}
                </td>
                <td>
                    <a href="#modal-add-area" id="edit" class="edit" data-bind="s" data-id="{{@vareas->id}}" data-nama="{{@vareas->nama}}">
                        <i class="icon-edit-alt"></i>
                    </a>
                    <a href="{{@ROOT}}/admin/area?action=del&token={{base64_encode($vareas->id)}}" id="edit" >
                        <i class="icon-cancel"></i>
                    </a>

                </td>
            </tr>
        </repeat>
        </true>
        <false>
        <tr>
            <td rowspan="2">Maaf, belum ada data</td>
        </tr>
    </check>
</check>

</tbody>
</table>
<div id="modal-add-area" class="mfp-hide form-popup">
    <form class="customForm" method="post" action="">
        <input type="hidden" id="id" value="" name="id"/>
        <div class="modal-header">
            <h4 id="modal-substation-title" class="modal-title">Add Area</h4>
        </div>
        <div class="modal-body">
            <label>Nama Area</label>
            <input type="text"  id="namaa" class="" value="" name="nama" required=""/>
        </div>
        <br/>
        <div class="clearfix">
            <input type="submit" value="Tambah" id="add"/>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#area').magnificPopup({
            type: 'inline'
        });

        $('.edit').on('click', function() {
            $('#id').val($(this).data('id'));
            $('#namaa').val($(this).data('nama'));
            $('#add').val($(this).data('Update'));

        });
        $('.edit').magnificPopup({
            type: 'inline',
        });
    });
</script>