<div class="panel panel-default">
    <div class="panel-heading">Daftar Agen</div>
    <div class="panel-body row">
        <pre style="display: none">
            {{print_r($result)}}
        </pre>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-dark user">
                <thead>
                    <tr>
                        <th>
                            NO
                        </th>
                        <th>
                            Nama
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>


                <repeat group="{{@result}}" key="{{@ukey}}" value="{{@u}}">
                    <tr>
                        <td>
                            {{@offset+$ukey+1}}
                        </td>
                        <td>
                            {{@m_user->get_user('id',@u->id_agen,'name');}} {{@m_user->get_user('id',@u->id_agen,'last_name');}}
                        </td>
                        <td>
                            {{$u->total}}
                        </td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </div>
    </div>
    <check if="{{ isset(@show_pagination) and @show_pagination }}">
        <div class="panel-footer">{{ @pagebrowser | raw }}</div>
    </check>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="" class="customForm" enctype="multipart/form-data">
                    <input type="hidden" value="hoooh" name="data_user"/>
                    <input type="hidden" name="iduser" value="" id="iduser"/>
                    <input type="hidden" name="role" value="{{$role}}" id="role"/>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="modal-add-broker-title" class="modal-title">Tambah {{$role==2?'Cabang':'Agen'}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="fnama">Nama pertama</label>
                            <input id="fnama" type="text" class="form-control" placeholder="Nama Pertama" required autofocus name="fnama"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="fnama">Nama terahir</label>
                            <input id="lname" type="text" class="form-control" placeholder="Nama Terahir" required autofocus name="lnama"/>    
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6" >
                                <label class="control-label" for="email">Email</label>
                                <input id="email" type="email" class="form-control" placeholder="Email" required autofocus name="email"/>
                            </div>
                            <div class="col-lg-6" >
                                <label class="control-label" for="phone">Telepone</label>
                                <input id="phone" type="text" class="form-control" placeholder="Telepone" required autofocus name="telephone"/>
                            </div>
                        </div>
                        <check if="{{$role==2}}">
                            <true>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>
                                        NIK
                                    </label>
                                    <input type="number" name="nik" value="" id="nik" required="required" class="form-control"/>
                                </div>
                                <div class="col-lg-6" >
                                    <label class="control-label" for="cabang">Cabang</label>
                                    <select name="cabang" id="cabang" class="form-control" required="required">
                                        <option value="">--pilih cabang--</option>
                                        <repeat group="{{@cabang}}" key="{{@ck}}" value="{{@cval}}">
                                            <option value="{{@cval['id']}}">{{@cval['name']}}</option>
                                        </repeat>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group status">
                                <label class="control-label"  for="status">Status User Cabang</label>
                                <br/>
                                <label>
                                    <input type="radio" name="status_user" value="1" required="required"/> Channeling
                                </label>
                                <br/>
                                <label>
                                    <input type="radio" name="status_user" value="2"/> Retention
                                </label>
                                <br/>
                                <label>
                                    <input type="radio" name="status_user" value="3"/> Channeling & Retention
                                </label>
                            </div>
                            </true>
                            <false>
                            <div class="form-group">
                                <label class="control-label" for="ewalletID">Ewallet Id(<small>no VA</small>)</label>
                                <input id="ewalletID" type="text" class="form-control" placeholder="No VA" required autofocus name="ewallet_id"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="address">Alamat</label>
                                <input id="address" type="text" class="form-control" placeholder="Alamat" required autofocus name="address"/>
                            </div>
                            </false>
                        </check>

                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input id="username" type="text" class="form-control" placeholder="Username" required autofocus name="username"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input id="password" type="password" class="form-control" placeholder="Password" required autofocus name="password"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input id="add-user-submit" type="submit" class="btn btn-primary" value="Simpan"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var lname, fname, email, walletid, id, addres, phone, cabangid, username, nik, status = '';
            $('.edit-user').on('click', function () {

                lname = $(this).data('lname');
                fname = $(this).data('fname');
                email = $(this).data('mail');
                walletid = $(this).data('walletid');
                id = $(this).data('id');
                addres = $(this).data('addres');
                phone = $(this).data('phone');
                cabangid = $(this).data('cabangid');
                username = $(this).data('uname');
                nik = $(this).data('nik');
                id = $(this).data('id');
                status = $(this).data('status');
                $('#fnama').val(fname);
                $('#lname').val(lname);
                $('#email').val(email);
                $('#ewalletID').val(walletid).attr('disabled', 'disabled');
                $('#address').val(addres);
                $('#phone').val(phone);
                $('#iduser').val(id);
                $('#username').val(username);
                $('#password').removeAttr('required');
                $('#cabang').find('option').each(function () {
                    if ($(this).val() == cabangid)
                        $(this).attr('selected', 'selected');
                });
                //            console.log(status);
                $('.status').find('input:radio').each(function (ind) {
                    if ($(this).val() == status) {
                        $(this).attr('checked', 'checked');
                    }
                });
                $('#nik').val(nik);

                $('#modal-add-broker-title').html('Update Pengguna');
                $('#add-user-submit').text('Update Pengguna');
                //            $('#modal-add-user').modal('show');
            });

            $('#add').on('click', function () {
                $('#fnama').val();
                $('#lname').val();
                $('#email').val();
                $('#ewalletID').removeAttr('disabled').val();
                $('#address').val();
                $('#phone').val();
                $('#iduser').val();
                $('#username').val();
                $('#password').val();
                $('#modal-add-broker-title').html('Tambah Pengguna');
                $('#add-user-submit').text('Tambah Pengguna');
            })

            $('#allid').on('click', function () {
                if (this.checked) {
                    $('.allid').prop('checked', true);
                    $('#ds').removeAttr('disabled');
                } else {
                    $('.allid').prop('checked', false);
                    $('#ds').attr('disabled', 'disabled');
                }
                //           

            });
            $('.allid').on('click', function () {
                if (this.checked || !this.checked) {
                    if ($('.user').find('.allid:checked').size() > 0) {
                        $('#ds').removeAttr('disabled');
                    } else {
                        $('#ds').attr('disabled', 'disabled');
                    }
                }
            });

            $('#ds').on('click', function () {
                var all_id = [];
                $('.user').find('.allid:checked').each(function () {
                    all_id.push($(this).val());
                });
                if (all_id.length > 0) {
                    $.post(
                            '{{@ROOT}}/admin/users/{{@url}}',
                            {
                                'all_id': all_id,
                                'del_user': 'hooh'
                            },
                    function (data) {
                        if (data === 'y')
                            window.location = "{{@ROOT}}/admin/users/{{@url}}?notification=delete.s";
                    }
                    );
                }

            });
        });
    </script>