<check if="{{isset(@GET.notification) && @GET.notification=='succes.add'}}">
    <true>
    <div class="alert alert-success">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        {{(@role==0)?'Agen':'Cabang'}} berhasil di tambahkan
    </div>
    </true>
</check>


<check if="{{isset(@GET.notification)&& @GET.notification=='error.exist'}}">
    <true>
    <div class="alert alert-danger">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        {{(@role==0)?'Agen':'Cabang'}} sudah ada
    </div>
    </true>
</check>
<check if="{{isset(@GET.notification)&& @GET.notification=='error.add.more'}}">
    <true>
    <div class="alert alert-danger">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <strong>Error!!</strong>        Silahkan cek file anda, harus format CSV.
    </div>
    </true>
</check>

<check if="{{@notif=='succes.add.more'}}">
    <true>

    <check if="{{(@userlistinsert !='') &&(is_array(@userlistinsert)) }}">
        <true>
        <div class="alert alert-danger">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <strong>Error!!</strong>
            Id ini sudah ada. silahkan cek kembali!
            <ul>
                <repeat group="{{@userlistinsert}}"  value="{{@ulv}}">
                    <check if="{{ @ulv }}">
                        <true>
                        <li>{{@ulv}}</li>
                        </true>
                    </check>
                </repeat>
            </ul>
        </div>
        </true>
        <false>
        <div class="alert alert-success">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <strong>Succes!!</strong>
            Menambahkan dari CSV file berhasil.
        </div>
        </false>
    </check>

    </true>
</check>
<check if="{{isset(@GET.notification)&& @GET.notification=='delete.s'}}">
    <true>
    <div class="alert alert-success">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <strong>Succes!!</strong>
        Delete data.
    </div>
    </true>
</check>
<check if="{{isset(@GET.notification)&& @GET.notification=='already.add'}}">
    <true>
    <div class="alert alert-danger">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <strong>Error!!</strong>  VA sudah ada
    </div>
    </true>
</check>

<div class="panel panel-default">
    <div class="panel-heading">Dashboard {{(@role==0)?'Agen':'User Cabang'}}</div>
    <div class="panel-body row">
        <div class="col-lg-3">
            <a data-toggle="modal" href="#myModal" id="add">
                <button class="btn btn-success"><i class="fa fa-plus"></i> Tambah {{(@role==0)?'Agen':'User Cabang'}}</button>
            </a>
        </div>
        <div class="col-lg-3">
            <check if="{{@role==0}}">
                <true>
                <a href="{{@ROOT}}/admin/user/export/{{(@role==0)?'agen':'cabang'}}" class="btn btn-primary" >
                    Donwload Data {{(@role==0)?'Agen':'Cabang'}}
                </a>
                </true>
            </check>

        </div>
        <div class="col-lg-6">
            <form action="" enctype="multipart/form-data" class="right" method="post">
                <div class="input-group">
                    <input type="file" class="form-control" name="data_user" style="padding: 0px;"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Upload</button>
                    </span>
                </div>
                <a href="{{@ROOT}}/assets/user.{{(@role==0)?'agen':'cabang'}}.csv" class="btn btn-link btn-sm"><i class="glyphicon glyphicon-link"></i> contoh file CSV</a>
            </form>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2 row">
                <div class="input-group ">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sort By <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{@ROOT}}/admin/users/{{(@role==0)?'agen':'cabang'}}?by=name">Name</a>
                            </li>
                            <li>
                                <a href="{{@ROOT}}/admin/users/{{(@role==0)?'agen':'cabang'}}?by=date">Tanngal Masuk</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 row">
                <button type="button"id="ds" class=" btn btn-danger" disabled="disabled"><i class="glyphicon glyphicon-remove-circle"></i> Delete</button>
            </div>
            <div class="col-lg-7 col-lg-push-2 col-sm-12 col-sm-push-0 ">
                <form action="" method="post" role="form" class="form-inline pull-right" >
                    <check if="{{@role==0}}">
                        <true>
                        <input type="hidden" name="searchby" value="nama"/>
                        </true>
                        <false>
                        <div class="form-group">
                            <select class="form-control" name="searchby" required>
                                <option value=""> PILIH PENCARIAN</option>
                                <option value="nama" {{(@searchby == 'nama' )?'selected="selected"':'' }}> Nama User</option>
                                <option value="cabang" {{(@searchby == 'cabang' )?'selected="selected"':'' }}> Nama Cabang</option>
                                <option value="nik" {{(@searchby == 'nik' )?'selected="selected"':'' }}> NIK User</option>
                            </select>
                        </div>
                        </false>
                    </check>

                    <div class="form-group">
                        <input class="form-control" type="text" value="{{(!empty($s)?$s:'')}}" name="s" placeholder="Search Nama {{(@role==0)?'Agen':'Cabang'}}"/>
                    </div>
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-body row">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-dark user">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="allid"/>
                        </th>
                        <th>No</th>
                        <th>Nama</th>
                <check if="{{@role==2}}">
                    <true>
                    <th>Username</th>
                    </true>
                </check>
                <th>Detail</th>
                {{(@role==0)?'<th>Wallet</th>':''}}
                <th>{{(@role==0)?'Va Agen':'NIK'}}</th>
                <!--<th class="text-center">Code</th>-->
                <th class="text-center">Masuk</th>
                <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>


                <repeat group="{{$user_list}}" key="{{@ukey}}" value="{{@u}}">
                    <tr>
                        <td>
                            <input type="checkbox" name="send_id" value="{{@u->id}}" class="allid {{(@u->active)?'active':'deleted'}}"/>
                        </td>
                        <td>{{@offset+@no}}</td>
                        <td>{{@u->name}} {{@u->last_name}} {{(@role==0)?'':'('.@obj_cabang->get_substation(@u->cabang,'name').')'}}</td>
                    <check if="{{@role==2}}">
                        <true>
                        <th>{{@u->user_login}}</th>
                        </true>
                    </check>
                    <td>
                        <abbr title="{{@u->mail}}" >{{((strlen(@u->mail) > 20) ? substr(@u->mail,0,17).'...' : @u->mail)}}</abbr>
                        <br/>
                        <p><b>{{(@u->status==1)?'Channeling':''}}{{(@u->status==2)?'Retention':''}}{{(@u->status==3)?'Channeling & Retention':''}}</b></p>
                    <check if="{{$role==0}}">
                        <true>
                        <small>{{@u->address}}</small>
                        </true>
                    </check>
                    </td>
                    {{(@role==0)?'<td>'.@u->ewallet_type.'</td>':''}}

                    <td>
                    <check if="{{@role == 0}}">
                        <true>
                        {{@u->ewallet_login}}
                        </true>
                        <false>
                        {{@u->nik}}
                        </false>

                    </check>
                    </td>
                    <td class="text-center">{{date('d-m-Y',strtotime(@u->date))}}</td>
                    <td class="text-center id_{{@no++}}">
                        <a href="{{@u->is_mail_confirm == 1?'#':@ROOT.'/admin/users/'.@url.'?action=update&item='.@u->id}}" title="{{@u->is_mail_confirm == 1?'Sudah aktif':'belum aktif'}}">
                            <span class="glyphicon  {{@u->is_mail_confirm == 1 ? 'glyphicon-ok' : 'glyphicon-time'}} {{@u->is_mail_confirm == 1 ? 'text-success' : 'text-danger'}}"></span>
                        </a>
                    <check if="{{@u->is_mail_confirm == 1}}">
                        <true>
                        &nbsp;
                        <a href="{{ @ROOT.'/admin/users/'.@url.'?action=delete&item='.@u->id}}" class="delet">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                        &nbsp;
                        <a data-toggle="modal" href="#myModal" class="edit-user" data-id="{{@u->id}}" data-fname="{{@u->name}}" data-lname="{{@u->last_name}}" data-mail="{{@u->mail}}" data-addres="{{@u->address}}" data-walletid="{{@u->ewallet_login}}" data-phone="{{@u->telephone}}" data-cabang="{{@obj_cabang->get_substation(@u->cabang,'name')}}" data-cabangid="{{@u->cabang}}" data-uname="{{@u->user_login}}" data-nik="{{@u->nik}}" data-status="{{@u->status}}">
                            <span class="glyphicon glyphicon-edit text-success"></span>
                        </a>

                        </true>
                    </check>
                    </td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </div>
        <!--</div>-->

        <check if="{{ isset(@show_pagination) and @show_pagination }}">
            <div class="panel-footer">{{ @pagebrowser | raw }}</div>
        </check>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="" class="customForm" enctype="multipart/form-data">
                    <input type="hidden" value="hoooh" name="data_user"/>
                    <input type="hidden" name="iduser" value="" id="iduser"/>
                    <input type="hidden" name="role" value="{{$role}}" id="role"/>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="modal-add-broker-title" class="modal-title">Tambah {{$role==2?'Cabang':'Agen'}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="fnama">Nama pertama</label>
                            <input id="fnama" type="text" class="form-control" placeholder="Nama Pertama" required autofocus name="fnama"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="fnama">Nama terahir</label>
                            <input id="lname" type="text" class="form-control" placeholder="Nama Terahir" required autofocus name="lnama"/>    
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6" >
                                <label class="control-label" for="email">Email</label>
                                <input id="email" type="email" class="form-control" placeholder="Email" required autofocus name="email"/>
                            </div>
                            <div class="col-lg-6" >
                                <label class="control-label" for="phone">Telepone</label>
                                <input id="phone" type="text" class="form-control" placeholder="Telepone" required autofocus name="telephone"/>
                            </div>
                        </div>
                        <check if="{{$role==2}}">
                            <true>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>
                                        NIK
                                    </label>
                                    <input type="number" name="nik" value="" id="nik" required="required" class="form-control"/>
                                </div>
                                <div class="col-lg-6" >
                                    <label class="control-label" for="cabang">Cabang</label>
                                    <select name="cabang" id="cabang" class="form-control" required="required">
                                        <option value="">--pilih cabang--</option>
                                        <repeat group="{{@cabang}}" key="{{@ck}}" value="{{@cval}}">
                                            <option value="{{@cval['id']}}">{{@cval['name']}}</option>
                                        </repeat>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group status">
                                <label class="control-label"  for="status">Status User Cabang</label>
                                <br/>
                                <label>
                                    <input type="radio" name="status_user" value="1" required="required"/> Channeling
                                </label>
                                <br/>
                                <label>
                                    <input type="radio" name="status_user" value="2"/> Retention
                                </label>
                                <br/>
                                <label>
                                    <input type="radio" name="status_user" value="3"/> Channeling & Retention
                                </label>
                            </div>
                            </true>
                            <false>
                            <div class="form-group">
                                <label class="control-label" for="ewalletID">Ewallet Id(<small>no VA</small>)</label>
                                <input id="ewalletID" type="text" class="form-control" placeholder="No VA" required autofocus name="ewallet_id"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="address">Alamat</label>
                                <input id="address" type="text" class="form-control" placeholder="Alamat" required autofocus name="address"/>
                            </div>
                            </false>
                        </check>

                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input id="username" type="text" class="form-control" placeholder="Username" required autofocus name="username"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input id="password" type="password" class="form-control" placeholder="Password" required autofocus name="password"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input id="add-user-submit" type="submit" class="btn btn-primary" value="Simpan"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var lname, fname, email, walletid, id, addres, phone, cabangid, username, nik, status = '';
            $('.edit-user').on('click', function () {

                lname = $(this).data('lname');
                fname = $(this).data('fname');
                email = $(this).data('mail');
                walletid = $(this).data('walletid');
                id = $(this).data('id');
                addres = $(this).data('addres');
                phone = $(this).data('phone');
                cabangid = $(this).data('cabangid');
                username = $(this).data('uname');
                nik = $(this).data('nik');
                id = $(this).data('id');
                status = $(this).data('status');
                $('#fnama').val(fname);
                $('#lname').val(lname);
                $('#email').val(email);
                $('#ewalletID').val(walletid).attr('disabled', 'disabled');
                $('#address').val(addres);
                $('#phone').val(phone);
                $('#iduser').val(id);
                $('#username').val(username);
                $('#password').removeAttr('required');
                $('#cabang').find('option').each(function () {
                    if ($(this).val() == cabangid)
                        $(this).attr('selected', 'selected');
                });
                //            console.log(status);
                $('.status').find('input:radio').each(function (ind) {
                    if ($(this).val() == status) {
                        $(this).attr('checked', 'checked');
                    }
                });
                $('#nik').val(nik);

                $('#modal-add-broker-title').html('Update Pengguna');
                $('#add-user-submit').text('Update Pengguna');
                //            $('#modal-add-user').modal('show');
            });

            $('#add').on('click', function () {
                $('#fnama').val();
                $('#lname').val();
                $('#email').val();
                $('#ewalletID').removeAttr('disabled').val();
                $('#address').val();
                $('#phone').val();
                $('#iduser').val();
                $('#username').val();
                $('#password').val();
                $('#modal-add-broker-title').html('Tambah Pengguna');
                $('#add-user-submit').text('Tambah Pengguna');
            })

            $('#allid').on('click', function () {
                if (this.checked) {
                    $('.allid').prop('checked', true);
                    $('#ds').removeAttr('disabled');
                } else {
                    $('.allid').prop('checked', false);
                    $('#ds').attr('disabled', 'disabled');
                }
                //           

            });
            $('.allid').on('click', function () {
                if (this.checked || !this.checked) {
                    if ($('.user').find('.allid:checked').size() > 0) {
                        $('#ds').removeAttr('disabled');
                    } else {
                        $('#ds').attr('disabled', 'disabled');
                    }
                }
            });

            $('#ds').on('click', function () {
                var all_id = [];
                $('.user').find('.allid:checked').each(function () {
                    all_id.push($(this).val());
                });
                if (all_id.length > 0) {
                    $.post(
                            '{{@ROOT}}/admin/users/{{@url}}',
                            {
                                'all_id': all_id,
                                'del_user': 'hooh'
                            },
                    function (data) {
                        if (data === 'y')
                            window.location = "{{@ROOT}}/admin/users/{{@url}}?notification=delete.s";
                    }
                    );
                }

            });
        });
    </script>