<div class="panel panel-default">
    <div class="panel-heading">Survei</div>
    <div class="panel-body row">
        <check if="{{@m_erase==true}}">
            <true>
            <div class="alert alert-success">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                <strong>Succes!</strong>
                Data Berhasil di Hapus
            </div>
            </true>
        </check>
        <div class="col-lg-12 row">
            <div class="col-lg-2">
                <div class="input-group ">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Sort By <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a href="{{@ROOT}}/admin/survei/list/?hoe=date">Tanggal Masuk</a>
                        </li>
                        <li>
                            <a href="{{@ROOT}}/admin/survei/list/?hoe=agen">Nama Agen</a>
                        </li>
                        <li>
                            <a href="{{@ROOT}}/admin/survei/list/?hoe=pic">Nama PIC Cabang</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="input-group ">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Filter By <span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">

                        <li>
                            <a href="{{@ROOT}}/admin/survei/list/?hoe=terima">Di Terima</a>
                        </li>
                        <li>
                            <a href="{{@ROOT}}/admin/survei/list/?hoe=tolak">Di Tolak</a>
                        </li>
                        <li>
                            <a href="{{@ROOT}}/admin/survei/list/?hoe=survey">Di Survey</a>
                        </li>
                        <li>
                            <a href="{{@ROOT}}/admin/survei/list/?hoe=proses">Di Proses</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="{{@ROOT}}/admin/survei/export" class="btn btn-primary" target="blank">
                    Export ke CSV
                </a>
            </div>
            <div class="col-lg-4 col-lg-push-3">
                <form class="form-inline right" role="form" method="" action="">
                    <div class="input-group">
                        <input type="text" placeholder="Search Nama Agen" name="s" value="{{(isset(@s)?@s:'')}}" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12 row" style="margin-top: 5px;">
            <div class="col-lg-2">
                <button id="print" class="btn btn-default " disabled="disabled">
                    <span class="glyphicon glyphicon glyphicon-print" id="print"></span> Cetak
                </button>
            </div>
        </div>
    </div>

    <div class="panel-body row">
        <div class="table-responsive">
            <table class="table table-condensed table-dark survei_list">
                <thead>
                    <tr>
                        <td>
                            <input type="checkbox" name="all_id" id="all_id"/>
                        </td>
                        <td>
                            NO
                        </td>
                        <td>
                            Nama Nasabah
                        </td>
                        <td>
                            Nama Agen
                        </td>
                        <td>
                            PIC Cabang
                        </td>
                        <td>
                            Tanggal Masuk
                        </td>
                        <td>
                            Status
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-th"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                <check if="{{!empty($result)}}">
                    <true>
                    <repeat group="{{@result}}" key="{{@sk}}" value="{{@survei}}">
                        <tr>
                            <td>
                                <input type="checkbox" name="the_ID" value="{{$survei['id']}}" class="the_id"/>
                            </td>
                            <td>
                                {{@offset+$sk+1}}
                            </td>
                            <td>
                                {{@survei['nama']}}
                            </td>
                            <td>
                                {{@m_user->get_user('id',@survei['id_agen'],'name')}} {{@m_user->get_user('id',@survei['id_agen'],'last_name')}}
                            </td>
                            <td>
                                {{@m_user->get_user('id',@survei['id_user_cabang'],'name')}} {{@m_user->get_user('id',@survei['id_user_cabang'],'last_name')}}
                                <small>
                                    ({{@m_cabang->get_substation(@survei['id_cabang'],'name')}})
                                </small>								
                            </td>
                            <td>
                                {{date('d-m-Y, H:i',strtotime($survei['date_save']))}}
                            </td>
                            <td>
                                <span class="label {{@c_survei->get_status(@survei['status'],'c')}}">
                                    {{@c_survei->get_status(@survei['status'],'n')}}
                                </span>
                            </td>
                            <td>
                                <a href="{{@ROOT}}/admin/survei/view/{{@survei['id']}}">
                                    <i class="glyphicon glyphicon-expand text-success" title="Lihat Data"></i>
                                </a>
                                &nbsp;&nbsp;
                                <a href="{{@ROOT}}/admin/survei/list/?hooh=hapus&mene={{@survei['id']}}" class="delet">
                                    <i class="glyphicon glyphicon-remove-circle" title="Hapus Data"></i>
                                </a>
                            </td>
                        </tr>
                    </repeat>
                    </true>
                    <false>
                    <tr>
                        <td colspan="6">
                            Maaf, belum ada data survei
                        </td>
                    </tr>
                    </false>
                </check>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <check if="{{@showpaging}}">
            <true>
            {{@pagebrowser | raw}}
            </true>
        </check>
    </div>

</div>
<div id="deleted" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Delete <span class="glyphicon glyphicon-remove"></span></h2>
            </div>
            <div class="modal-body">
                Apakah Anda akan menghapus data ini?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-danger" data-href="" data-dismiss="modal" id="yes">Hapus</button>
            </div>
        </div>        
    </div>    
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('a.delet').on('click', function () {
            $('#deleted').modal();
            $('#deleted').find('#yes').attr('data-href', $(this).attr('href'));
            return false;
        });
        $('#yes').on('click', function () {
            window.location = ($(this).data('href'));
        });
        $('#all_id').on('click', function () {
            if (this.checked || !this.checked) {
                if (this.checked) {
                    $('.the_id').prop('checked', true);
                    $('#print').removeAttr('disabled');
                } else {
                    $('.the_id').prop('checked', false);
                    $('#print').attr('disabled', 'disabled');
                }
            }
        });
        $('#print').on('click', function () {
            var all_id = [];
            $('.survei_list').find('.the_id:checked').each(function () {
                all_id.push($(this).val());
            });

            var string_s = all_id.join(',');
            if (all_id.length > 0) {
                window.open('{{@ROOT}}/message/print_all/' + string_s, '_blank');
            }

        });
    });
</script>  