<div class="panel panel-default">  
    <div class="panel-heading">Area</div>   
    <div class="panel-body">      
        <p><a data-toggle="modal"  id="add" href="#modal-add-area">        
                <button class="btn btn-success"><i class="fa fa-plus"></i> Tambah Area Cabang</button>
            </a>    
        </p>   
    </div>   
    <div class="table-responsive">       
        <table class="table table-condensed table-dark">  
            <thead>            
                <tr>                
                    <th style="width:20px;">NO</th>    
                    <th>Nama</th>           
                    <th style="text-align: center">
                        Kode CSV
                    </th>
                    <th> <span class="glyphicon glyphicon-cog"></span> </th>  
                </tr>          
            </thead>         
            <tbody>           
            <check if="{{count(@areas) >0}}">     
                <true>               
                <repeat group="{{ @areas }}" key="{{ @kareas }}" value="{{ @vareas }}">  
                    <tr>               
                        <td>               
                            {{@kareas +1}}        
                        </td>                 
                        <td>                     
                            {{@vareas->nama}}   
                        </td>                 
                        <td style="text-align: center">
                            ({{$vareas->id}}) 
                        </td>
                        <td>                  
                            <a href="#modal-add-area" data-toggle="modal" id="edit" class="edit text-success" data-bind="s" data-id="{{@vareas->id}}" data-nama="{{@vareas->nama}}">                    
                                <i class="glyphicon glyphicon-edit"></i>                         
                            </a>             
                            <a href="{{@ROOT}}/admin/area?action=del&token={{base64_encode($vareas->id)}}" id="" class="delet" >   
                                <i class="glyphicon glyphicon-remove"></i>   
                            </a>                   
                        </td>                 
                    </tr>               
                </repeat>      
                </true>           
                <false>         
                <tr>           
                    <td colspan="3">Maaf, belum ada data</td>            
                </tr>           
                </false>      
            </check>        
            </tbody>    
        </table>  
    </div>
</div>
<div id="modal-add-area" class="modal fade"> 
    <form class="customForm" method="post" action="">    
        <div class="modal-dialog modal-sm">     
            <div class="modal-content">         
                <input type="hidden" id="id" value="" name="id"/>     
                <div class="modal-header">                
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>  
                    <h4 class="modal-title">Tambah Area</h4>      
                </div>          
                <div class="modal-body">   
                    <label>Nama Area</label>   
                    <input type="text"  id="namaa" class="form-control" value="" name="nama" required=""/>  
                </div>          
                <div class="modal-footer">   
                    <input type="submit" value="Tambah" class="btn btn-success pull-right" id="add"/>   
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $('.edit').on('click', function() {
            $('#id').val($(this).data('id'));
            $('#namaa').val($(this).data('nama'));
            $('#add').val($(this).data('Update'));
        });
    });</script>