<form role="form" method="POST" action="" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{@tag_mail_conf}}
        </div>
        <div class="panel-body">
            <div class="form-group" >
                <label for="confirm_mail_title">{{@tag_title}}</label>
                <input id="confirm_mail_title" type="text" class="form-control" placeholder="{{@tag_title}}" required autofocus name="confirm_mail_title" value="{{@obj_config->get_config_field_value('value','confirm_mail_title','data')}}">
            </div>
            <div class="form-group" >
                <label for="confirm_mail_from">{{@tag_mail_from}}</label>
                <input id="confirm_mail_from" type="text" class="form-control" placeholder="{{@tag_mail_from}}" required autofocus name="confirm_mail_from" value="{{@obj_config->get_config_field_value('value','confirm_mail_from','data')}}">
            </div>
            <div class="form-group" > 
                <label for="confirm_mail_from_src">{{@tag_mail_from_url}}</label>

                <input id="confirm_mail_from_src" type="text" class="form-control" placeholder="{{@tag_mail_from_url_desc }}" required autofocus name="confirm_mail_from_src" value="{{@obj_config->get_config_field_value('value','confirm_mail_from_src','data')}}">
            </div>
            <div class="form-group" > 
                <label for="confirm_mail_subject">{{@tag_mail_subject}}</label>
                <input id="confirm_mail_subject" type="text" class="form-control" placeholder="{{@tag_mail_subject}}" required autofocus name="confirm_mail_subject" value="{{@obj_config->get_config_field_value('value','confirm_mail_subject','data')}}">
            </div>
            <div class="form-group" >
                <label for="confirm_mail_message">{{@tag_mail_message}}</label>
                <textarea id="confirm_mail_message" class="form-control ckeditor" name="confirm_mail_message">{{@obj_config->get_config_field_value('value','confirm_mail_message','data')}}</textarea>
            </div>
            <button type="submit" class="btn btn-success pull-right">{{@tag_save}}</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            {{@tag_mail_not_new}}
        </div>
        <div class="panel-body">
            <div class="form-group" >
                <label>
                    <input type="checkbox" {{@obj_config->get_config_field_value('value','admin_send_mail','data') == 'true' ? 'checked' : ''}} name="admin_send_mail" value="true"> {{@tag_sendme_mail}}
                </label>
            </div>
            <div class="form-group" >
                <label for="admin_mail_dir">{{@tag_mail_dir}}</label>
                <input id="admin_mail_dir" type="email" class="form-control" placeholder="{{@tag_mail_dir}}" autofocus name="admin_mail_dir" value="{{@obj_config->get_config_field_value('value','admin_mail_dir','data')}}">
            </div>
            <button type="submit" class="btn btn-success pull-right">{{@tag_save}}</button>
        </div>
    </div>

    <!--    <div class="panel panel-default">
            <div class="panel-heading">
                {{@tag_mail_not_new}}
            </div>
            <div class="panel-body">
                <div class="form-group" >
                    <label>
                        <input type="checkbox" {{@obj_config->get_config_field_value('value','admin_send_mail','data') == 'true' ? 'checked' : ''}} name="admin_send_mail" value="true"> {{@tag_sendme_mail}}
                    </label>
                </div>
                <div class="form-group" >
                    <label for="admin_mail_dir">{{@tag_mail_dir}}</label>
                    <input id="admin_mail_dir" type="email" class="form-control" placeholder="{{@tag_mail_dir}}" autofocus name="admin_mail_dir" value="{{@obj_config->get_config_field_value('value','admin_mail_dir','data')}}">
                </div>
                <button type="submit" class="btn btn-success pull-right">{{@tag_save}}</button>
            </div>
        </div>-->
    <div class="panel panel-default"> 
        <div class="panel-heading">
            Konfigurasi Lupa password
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="emailsubject">Subjek Email</label>
                <input id="emailsubect" type="text" name="admin_mail_lost_sub" value="{{@obj_config->get_config_field_value('value','admin_mail_lost_sub','data')}}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="emailmsg">
                    Pesan Email
                </label>
                <br/>
                <small>
                    gunakan <strong>[password]</strong> untuk mengganti password yang di generate dari system.
                    dan gunakan <strong>[username]</strong> untuk mengganti username pengguna. 
                </small>

                <textarea class="ckeditor form-control" name="admin_mail_lost_msg">{{@obj_config->get_config_field_value('value','admin_mail_lost_msg','data')}}</textarea>
            </div>
            <button type="submit" class="btn btn-success pull-right">{{@tag_save}}</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{@tag_mail_not_status}}
        </div>
        <div class="panel-body">
            <div class="form-group" >
                <label for="notify_mail_title">{{@tag_title}}</label>
                <input id="notify_mail_title" type="text" class="form-control" placeholder="{{@tag_title}}" required autofocus name="notify_mail_title" value="{{@obj_config->get_config_field_value('value','notify_mail_title','data')}}">
            </div>
            <div class="form-group" >
                <label for="notify_mail_subject">{{@tag_mail_subject}}</label>

                <input id="notify_mail_subject" type="text" class="form-control" placeholder="{{@tag_mail_subject}}" required autofocus name="notify_mail_subject" value="{{@obj_config->get_config_field_value('value','notify_mail_subject','data')}}">
            </div>
            <div class="form-group" >
                <label for="notify_mail_msg_1">{{@tag_mail_message_reg}}</label>
                <textarea id="notify_mail_msg_1" class="form-control ckeditor" name="notify_mail_msg_1">{{@obj_config->get_config_field_value('value','notify_mail_msg_1','data')}}</textarea>
            </div>
            <!--            <div class="form-group" >
                            <label for="notify_mail_msg_2">{{@tag_mail_message_dep}}</label>
            
                            <textarea id="notify_mail_msg_2" class="form-control" name="notify_mail_msg_2">{{@obj_config->get_config_field_value('value','notify_mail_msg_2','data')}}</textarea>
            
                        </div>
                        <div class="form-group" >
                            <label for="notify_mail_msg_3">{{@tag_mail_message_gp}}</label>
                            <textarea id="notify_mail_msg_3" class="form-control" name="notify_mail_msg_3">{{@obj_config->get_config_field_value('value','notify_mail_msg_3','data')}}</textarea>
                        </div>
                        <div class="form-group" >
                            <label for="notify_mail_msg_4">{{@tag_mail_message_paid}}</label>
                            <textarea id="notify_mail_msg_4" class="form-control" name="notify_mail_msg_4">{{@obj_config->get_config_field_value('value','notify_mail_msg_4','data')}}</textarea>
                        </div>-->
            <button type="submit" class="btn btn-success pull-right">{{@tag_save}}</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Register Terms and Conditions
        </div>
        <div class="panel-body">
            <div class="form-group" >
                <label for="tnc">Terms and Conditions</label>
                <textarea id="tnc" class="form-control ckeditor" name="tnc">{{@obj_config->get_config_field_value('value','tnc','data')}}</textarea>
            </div>
            <button type="submit" class="btn btn-success pull-right">{{@tag_save}}</button>
        </div>
    </div>
    <div class="panel panel-default">
        <input type="hidden" name="mail_template_no" id="mail_template" value="{{(@obj_config->get_config_field_value('value','mail_template','data'))}}"/>
        <div class="panel-heading">
            Brodcast Template
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input type="file" name="email_template"/>
            </div>
            <check if="{{@obj_config->get_config_field_value('value','mail_template','data')=='ada'}}">
                <true>
                <div class="clearfix img_email" style="position: relative;">
                    <span class="delete" style="position: absolute;right: 10px; top: 10px;cursor: pointer"><span class="glyphicon glyphicon-remove"></span></span>
                    <img src="{{@ROOT}}/assets/img/email.jpg" class="img-thumbnail" style="min-width: 100%;max-width: 100%"/>
                </div>
                </true>
            </check>
            <br/>
            <br/>
            <button type="submit" class="btn btn-success pull-right">{{@tag_save}}</button>
        </div>

    </div>
</form>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $('.delete').on('click', function() {
            $('#mail_template').val('');
            $('.img_email').hide();
        });
    });
</script>