<div class="col-sm-12 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                <span class="glyphicon glyphicon-stats"></span>
                Statistik
            </h1>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <span class="glyphicon glyphicon-user"></span>
                            Jumlah User
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table style="margin-bottom: 0px" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Total pengguna</td>
                                    <td>:</td>
                                    <td>{{@obj_users->get_users_counts()}} Orang</td>
                                </tr>
                                <tr>
                                    <td>Total pengguna Aktif</td>
                                    <td>:</td>
                                    <td>{{@obj_users->get_users_confirmed_counts()}} Orang</td>
                                </tr>
                                <tr>
                                    <td>Total pengguna Memberikan Referal</td>
                                    <td>:</td>
                                    <td>{{$result_total}} Orang</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        <a href="{{@ROOT}}/admin/survei/user" class="btn btn-link">Daftar Agen Yang memberikan Referal</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <span class="glyphicon glyphicon-book"></span>
                            Total Data Survei
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table style="margin-bottom: 0px" class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Terdaftar </td>
                                    <td>:</td>
                                    <td class="text-right">{{@obj_survei->get_count_data()}}</td>
                                </tr>
                                <tr>
                                    <td>Di tolak </td>
                                    <td>:</td>
                                    <td class="text-right">{{@obj_survei->get_count_data(array('status=?',4))}}</td>
                                </tr>
                                <tr>
                                    <td>Di Proses </td>
                                    <td>:</td>
                                    <td class="text-right">{{@obj_survei->get_count_data(array('status=?',2))}}</td>
                                </tr>
                                <tr>
                                    <td>Di Terima </td>
                                    <td>:</td>
                                    <td class="text-right">{{@obj_survei->get_count_data(array('status=?',3))}}</td>
                                </tr>
                                <tr>
                                    <td>Menunggu </td>
                                    <td>:</td>
                                    <td class="text-right">{{@obj_survei->get_count_data(array('status=?',1))}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="{{@ROOT}}/admin/survei/list" class="btn btn-link">Lihat Semua Survei </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <span class="glyphicon glyphicon-link"></span>
                            Total Produk
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{@obj_produk->get_produk_counts()}} Produk
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <span class="glyphicon glyphicon-user"></span>
                            Daftar User Login
                        </h3>
                    </div>
                    <div class="panel-body">
                        <pre style="display: none">
                            {{print_r(@resultLog)}}
                        </pre>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>Nama</th>
                                    <th>Last Login</th>
                                </tr>
                                <!-- $db = $f3->get('DB');
        $q = "SELECT COUNT(logs.id_user) as jumlah ,logs.id_user FROM `logs` GROUP BY id_user ORDER BY jumlah DESC";
        $result = $db->exec($q); -->
                                
                                <repeat group="{{@resultLog}}" key="{{@lk}}" value="{{@logs}}">
                                    <tr>
                                        <td>{{@lk+1}}</td>
                                        <td>
                                            {{@obj_users->get_user('id',@logs['id_user'],'name')}} {{@obj_users->get_user('id',@logs['id_user'],'last_name')}}
                                        </td>
                                        <td>{{date("j F Y, G:i",strtotime (@logs['time_log']))}}</td>
                                    </tr>
                                </repeat>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="{{@ROOT}}/admin/logs" class="btn btn-link">Lihat Semua Logs </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
