<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Detail Survei <span class="pull-right label {{@c_survei->get_status(@survei_data->status,'c')}}">
                {{@c_survei->get_status(@survei_data->status,'n')}}
            </span>

        </h3> 
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <check if="!empty($produk)">
                        <true>
                        <div class="col-md-5">
                            <div class="form-group">
                                <a href="{{@ROOT}}/assets/images/{{@produk->foto}}" class="thumbnail popup">
                                    <img src="{{@ROOT}}/assets/images/{{$produk->foto}}"/>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <h4 style="margin-top:0px;">Informasi Produk</h4>
                            <h2 style="margin-top:0px; font-weight:800; color:#63696F; font-size:32px;">{{$produk->produk}}</h2>
                            <p>{{$produk->desc}}</p>
                            <hr/>
                            <h4 style="color: #63696F;">Pesan:</h4>
                            <p>{{$survei_data->more_text}}</p>
                        </div>
                        </true>
                        <false>
                        <div class="col-md-12">

                            <h4 style="margin-top:0px;">Informasi Produk</h4>
                            <h2 style="margin-top:0px; font-weight:800; color:#63696F; font-size:32px;">Jenis produk : {{@obj_kategori->get_jenis($survei_data->jenis_produk)}}</h2>
                            <check if="{{$survei_data->jenis_produk==3 ||$survei_data->jenis_produk==6 }}">
                                <true>
                                <p>Tahun kendaraan <strong>{{$survei_data->tahun}}</strong> dengan dana yang di minta <strong>Rp{{number_format($survei_data->dana,2,',','.')}}</strong></p>
                                <h4 style="color: #63696F;">Pesan:</h4>
                                <p>{{$survei_data->more_text}}</p>
                                </true>
                            </check>
                        </div>
                        </false>
                    </check>

                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="form-header">
                    <h3>Agen</h3>
                </div>

                <table class="table table-bordered">
                    <tr>
                        <td>Nama Agen</td>
                        <td>{{@agen->name}} {{@agen->last_name}}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>{{@agen->address}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{@agen->mail}}</td>
                    </tr>
                    <tr>
                        <td>Telp</td>
                        <td>{{@agen->telephone}} </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <div class="form-header">
                    <h3>Calon Konsumen</h3>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <td>Nama Konsumen</td>
                        <td>{{@survei_data->nama}}</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>{{@survei_data->alamat}}</td>
                    </tr>
                    <tr>
                        <td>No KTP</td>
                        <td>{{@survei_data->ktp}}</td>
                    </tr>
                    <tr>
                        <td>Telp</td>
                        <td>{{@survei_data->telephone}}</td>
                    </tr>
                </table>
                <div class="row">
                    <check if="{{$survei_data->status=='4'}}">
                        <true>
                        <div class="col-md-12">
                            <h4>Alasan di Tolak:</h4>
                            <p>{{$survei_data->extra_text}}</p>
                            <hr/>
                        </div>
                        </true>
                    </check>
                    <check if="{{$survei_data->status=='3'}}">
                        <true>
                        <div class="col-md-12">
                            <h4>No PK:</h4>
                            <p>{{$survei_data->extra_text}}</p>
                            <hr/>
                        </div>
                        </true>
                    </check>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="col-md-12 row">
            <div class="col-md-4 row">
                <a href="{{@ROOT}}/admin/survei/view/{{@survei_data->id}}?action=print">
                    <button class="btn btn-danger">Cetak Survey <span class="glyphicon glyphicon-print"></span></button></a>
            </div>
        </div>

    </div>
</div>