<pre style="display: none">
    {{print_r(@result)}}
</pre>
<div class="col-sm-12 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                <span class="glyphicon glyphicon-stats"></span>
                User Logs
            </h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table role="table" class="table table-striped">
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            Nama
                        </th>
                        <th>
                            Login terahir
                        </th>
                        <th>
                            Ip
                        </th>
                        <th>
                            Browser
                        </th>
                    </tr>
                    <repeat group="{{@result}}" key="{{@krs}}"value="{{@rs}}">
                        <tr>
                            <td>
                                {{@offset+@krs+1}}
                            </td>
                            <td>
                                {{@mod_user->get_user('id',@rs['id_user'],'name')}} {{@mod_user->get_user('id',@rs['id_user'],'last_name')}}
                            </td>
                            <td>
                                {{date("j F Y, G:i",strtotime (@rs['time_log']))}}
                            </td>
                            <td>
                                {{@rs['ip']}}
                            </td>
                            <td>
                                {{@mod_log->browserName(@rs['browser'])}}
                            </td>
                        </tr>
                    </repeat>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            {{@pagebrowser | raw}}
        </div>
    </div>