<check if="{{isset(@GET.notification)}}">
    <div class="alert alert-danger {{@GET.notification == 'user.ada' ? 'bounceIn in' : ''}} animated" style="display: {{@GET.notification == 'user.ada' ? '' : 'none'}}">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <strong>Error!</strong>
        Data sudah ada.
    </div>

    <true>
    <div class="alert alert-success" {{((@GET.notification=='user.update') || (@GET.notification=='user.add'))?'style=\'display: block\'':'style=\'display: none\''}}">
         <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <strong>Success!</strong>
        Data Berhasil di {{(@GET.notification=='user.update')?'update':'tambahkan'}}.
    </div>
    </true>
</check>
<check if="{{isset(@GET.notification) && @GET.notification=='succes.add.more'}}">
    <true>
    <div class="alert alert-success" style='display: block'>
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <strong>Success!</strong>
        Data Berhasil di tambahkan dari CSV file.
    </div>
    </true>
</check>
<check if="{{isset(@GET.notification) && @GET.notification=='error.add.more'}}">
    <true>
    <div class="alert alert-success" style='display: block'>
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <strong>Error!</strong>
       Format File salah,harus CSV file.
    </div>
    </true>
</check>
<div class="panel panel-default">

    <div class="panel-heading">Dashboard Cabang</div>
    <div class="panel-body">
        <div class="col-lg-6">
            <p>
                <a data-toggle="modal" href="#cabang" id="add">
                    <button class="btn btn-success"><i class="fa fa-plus"></i> Tambah Cabang</button>
                </a>
            </p>
        </div>
        <div class="col-lg-6">
            <form action="" enctype="multipart/form-data" class="right" method="post">
                <div class="input-group">
                    <input type="file" class="form-control" name="data_csv" style="padding: 0px;"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Upload</button>
                    </span>
                </div>
                <a href="{{@ROOT}}/assets/contoh_cabang.csv" class="btn btn-link btn-sm"><i class="glyphicon glyphicon-link"></i> contoh file CSV</a>
            </form>
        </div>

    </div>

    <div class="table-responsive">
        <table class="table table-condensed table-dark">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>Nama Cabang</th>
                    <th>Kode CSV</th>
                    <th style="text-align: center">Kode Cabang</th>
                    <th class="">Area</th>
                    <th class="text-center">Phones</th>
                    <th class="text-center" style="width: 50px"></th>
                </tr>
            </thead>
            <check if="{{count(@allsubstations)>0}}">
                <true>
                <repeat group="{{@allsubstations}}" key="{{@skey}}" value="{{@s}}">
                    <tr>
                        <td>{{@skey+1}}</td>
                        <td>{{@s->name}}</td>
                        <td style="text-align: center">{{$s->id}}</td>
                        <td>{{@s->kode}}</td>
                        <td >
                    <check if="{{!empty(@s->area)}}">
                        <true>
                        {{@obj_area->get_area(array('id=?',@s->area))->nama}}
                        </true>
                    </check>
                    </td>
                    <td class="text-center">{{@s->telephone}}</td>
                    <td>
                        <a class="edit-substation text-success" href="#cabang" data-toggle="modal" data-subs-kode="{{@s->kode}}" data-subs-area="{{@s->area}}" data-subs-text="Update" data-subs-city="{{$s->kota}}" data-subs-id="{{@s->id}}" data-subs-name="{{@s->name}}" data-subs-addres="{{@s->alamat}}" data-subs-phones="{{@s->telephone}}" >
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a style="" class="delet" href="{{@ROOT.'/admin/substations?action=delete&item='.@s->id}}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                    </tr>
                </repeat>
                </true>
                <false>
                <tr>
                    <td colspan="5">Nothing data here</td>
                </tr>
                </false>
            </check>
        </table>
    </div>
</div>
<div class="modal fade" id="cabang" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="POST" class=" customForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="modal-substation-title" class="modal-title">Tambah cabang</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="substation-id" value=""/>
                    <div class="form-group row">
                        <div class="col-lg-8">
                            <label class="control-label" for="substation-name">Nama cabang</label>
                            <input id="substation-name" type="text" class="form-control" placeholder="Nama Cabang" required autofocus name="name">
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label" for="substation-kode">Kode Cabang</label>
                            <input id="substation-kode" type="number" class="form-control" placeholder="Kode Cabang" required autofocus name="kode">
                        </div>
                    </div>
                    <!--                    <div class="form-group">
                                            <label class="control-label" for="substation-address">Company Address</label>
                                            <textarea name="address" class="form-control" autofocus="autofocus" id="substation-address"></textarea>
                                        </div>-->
                    <div class="form-group">
                        <label class="control-label" for="area">Cabang Area</label>
                        <select name="area" id="area" class="form-control" required autofocus>
                            <option value=""> -- pilih area cabang --</option>
                            <repeat group="{{@areas}}" key="{{@ak}}" value="{{@a}}">
                                <option value="{{@a->id}}">{{@a->nama}}</option>
                            </repeat>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="substation-phone">Telepon Cabang</label>
                        <input type="text" required placeholder="Telepon Cabang" name="telephone" class="form-control" autofocus="autofocus" id="substation-phone"/>
                    </div>
                    <!--                    <div class="form-group">
                                            <label class="control-label" for="substation-city">Kota Cabang</label>
                                            <input type="text" name="kota" required="" placeholder="Kota Cabang" class="form-control" autofocus="autofocus" id="substation-city"/>
                                        </div>-->
                </div>
                <div class="modal-footer">
                    <button id="add-substation-submit" type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        //data-subs-area="{{@s->area}}" 
        //data-subs-text="Update" 
        //data-subs-city="{{$s->kota}}" 
        //data-subs-id="{{@s->id}}" 
        //data-subs-name="{{@s->name}}" 
        //data-subs-addres="{{@s->alamat}}" 
        //data-subs-phones="{{@s->telephone}}" 
        var area, city, id, names, address, phones, kode = null;

        $('.edit-substation').on('click', function() {
            area = $(this).data('subs-area');
            city = $(this).data('subs-city');
            id = $(this).data('subs-id');
            names = $(this).data('subs-name');
            address = $(this).data('subs-addres');
            phones = $(this).data('subs-phones');
            kode = $(this).data('subs-kode');

            $('#substation-id').val(id);
            $('#substation-name').val(names);
//            $('#substation-address').html(address);
            $('#substation-kode').val(kode);

            $('#area').find('option').each(function() {
                if ($(this).val() == area)
                    $(this).attr('selected', 'selected');
            });
            $('#substation-phone').val(phones);
//            $('#substation-city').val(city);
        });
    });
</script>