<div class="panel panel-default">
    <div class="panel-heading">Edit Artikel</div>
    <div class="panel-body">
       
        <form class="customForm" action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{@article->id}}"/>
            <input type="hidden" name="old_id" value="{{@old_id}}"/>
            <div class="modal-header clearfix ">
                <h4 id="modal-add-broker-title" class="title-heading">
                    Edit Article
                </h4>
            </div>
            <div class="form-group">
                <label for="judul">Judul</label>
                <input type="text" class="form-control" name="judul" value="{{@article->judul}}" id="judul" required="required"/>
            </div>
            <div class="form-group">
                <label>Slug</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">{{@ROOT}}/view/</span>
                    <input type="text" name="slug" value="{{@article->slug}}" class="form-control" required="" id="slug" style="text-transform: lowercase"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8">
                    <label for="posisi">Posisi Link</label>
                    <select name="posisi" required class="form-control" id="posisi" {{(@article->is_featured)?'disabled="disabled"':''}}>
                        <option value="">-- pilih posisi --</option>
                        <option value="1" {{(@article->link ==1)?"selected='selected'":''}}>Header</option>
                        <option value="2" {{(@article->link ==2)?"selected='selected'":''}}>Footer</option>
                        <option value="3"  {{(@article->link ==3)?"selected='selected'":''}}>Sidebar</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <label>Lokasi Link</label>
                     <select name="lokasi" required class="form-control" id="lokasi">
                        <option value="">-- pilih lokasi --</option>
                        <option value="1" {{(@article->lokasi==1)?"selected='selected'":''}}>Halaman Agen</option>
                        <option value="2" {{(@article->lokasi==2)?"selected='selected'":''}}>Halaman Cabang</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="content">Isi artikel</label>
                <textarea id="content" name="content" class="ckeditor" required="required">{{@article->content}}</textarea>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="featured" value="4" id="featured" {{(@article->is_featured)?'checked="checked"':''}}/> Gunakan sebagai Featured Article * 
                </label>
                <p><small>Akan mengganti Article yang sebelumnya</small></p>
            </div>
            <div class="form-group">
                <label for="foto" id="img">Foto</label>
                <check if="{{!empty(@article->image)}}">
                    <input type="hidden" name="imageold" value="{{@article->image}}"/>
                    <div class="clearfix thumbnail">
                        <img src="{{@ROOT}}/content/article/{{@article->image}}"/>
                    </div>

                </check>
                <input type="file" name="foto" id="foto"/> <small>(pilih gambar untuk mengganti gambar sebelumnya)</small>
            </div>
            <div class="panel-footer">
                <input type="submit" class="btn btn-default" value="Update" id="btn-add"/>
            </div>
        </form>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        var val = '';
        $('#judul').on('change', function () {
            val = $(this).val();
            $('#slug').val(val.replace(/\s/g, '-'));
        });
        $('#slug').on('change', function () {
            val = $(this).val();
            $(this).val(val.replace(/\s/g, '-'));
        });

        $('#featured').on('click', function () {
            if ($(this).is(':checked'))
                $('#link').attr('disabled', 'disabled');
            else
                $('#link').removeAttr('disabled');
        });
    });
</script>