<div class="panel panel-default">
    <div class="panel-heading">Produk Kategori</div>
    <div class="panel-body">
        <a href="#" data-toggle="modal" data-target="#modal-add-kategori">
            <button class="btn btn-success"><span class="fa fa-plus"></span> Tambah Kategori</button>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th style="width: 100px">NO</th>
                    <th>Kategori</th>
                    <th> ~ </th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{@categories}}" key="{{@ckey}}" value="{{@cat}}">
                    <tr id="kategori-{{@cat['id_cat']}}" class="category">
                        <td style="vertical-align: text-top">{{@ckey+1}}</td>
                        <td style="vertical-align: text-top" >
                            <!--<a class="edit-kategori" href="#edit" title="edit kategori {{@cat['nama']}}" data-katid="{{@cat['id_cat']}}" data-katname="{{@cat['nama']}}" data-katparent="{{@cat['parent_cat']}}">-->
                            <a class="edit-kategori" href="#modal-add-kategori" title="edit kategori {{@cat['nama']}}" data-katid="{{@cat['id_cat']}}" data-katname="{{@cat['nama']}}">
                                {{@cat['nama']}}
                            </a> 
                        </td>
                        <td>
                            <a class="remove" href="{{@ROOT.'/admin/produk_katergori?idcat='.@cat['id_cat']}}">
                                <i class="icon-cancel"></i>
                            </a>
                        </td>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-add-kategori">
<form action="" method="POST">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Tambah Kateogri</h4>
      </div>
      <div class="modal-body">
        <input id="kategori-id" type="hidden" name="id" value="">
        <div class="form-group">
            <label class="control-label" for="name">Nama Merek</label>
            <input id="kategori-name" type="text" class="form-control" placeholder="Nama Merek/Type" required autofocus name="nama_kategori">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" value="1" class="btn btn-danger">Simpan</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->


<script>
    $(document).ready(function() {
        $('.edit-kategori').on('click', function() {
            var katparent = $(this).data('katparent');
            $('#modal-add-kategori-title').text('Update Kategori');
            $('#add-kategory-submit').text('Update Kategori');
            $('#kategori-id').val($(this).data('katid'));
            $('#kategori-name').attr('value', $(this).data('katname'));
//            $('#parent_id option').removeAttr('selected');
//            if (katparent > 0) {
//                $('#parent_id').find('option').each(function(i) {
//                    if ($(this).val() == katparent) {
//                        $(this).attr('selected', 'selected');
//                    }
//                });
//            } else {
//                $('#parent_id').find('option:first-child').attr('selected', 'selected');
//            }
//            $('#modal-add-kategori').modal({
//                'show': true
//            });
            return false;
        });
        $('.edit-kategori').magnificPopup({
            type: 'inline'
        });
        $('#btn_add-kategori').magnificPopup({
            type: 'inline'
        });
    });
</script>