<div class="container parent">
    <div class="row">
        <div class="col-md-12">
            <check if="{{is_object(@article)}}">
                <true>
                <h1>{{@article->judul}}</h1>
                <p> {{@article->content}}</p>
                </true>
                <false>
                404 page
                </false>
            </check>

        </div>  
    </div>
</div>