<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="mainmenu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand" href="{{@ROOT}}"><img src="{{@ROOT}}/assets/img/logo.png"/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right " id="nav">
                <li><a href="/">Beranda</a></li>

                <check if="{{!empty(@SESSION.user)}}">
                    <true>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Akun Saya <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="fa fa-edit"></span> Ubah Akun</a></li>
                            <li class="divider"></li>
                            <li><a href="{{@ROOT}}/logout"><span class="fa fa-sign-out"></span> Keluar</a></li>
                        </ul>
                    </li>
                    </true>
                </check>
            </ul>
        </div>
    </div>
</nav>