<div class="container parent">
    <div class="row">
        <div class="col-md-8">
            <check if="{{is_object(@obj_article->get_article_by_link_id(1))}}">
                <true>
                <h1>{{@obj_article->get_article_by_link_id(1)->judul}}</h1>
                <p>{{@obj_article->get_article_by_link_id(1)->content}}</p>
                </true>

            </check>

            <!-- <h1>APA ITU NABUNG TANPA UANG?</h1>
            <p>Curabitur vulputate sodales velit, eu posuere massa hendrerit vitae. Vestibulum in congue odio. Aenean rutrum accumsan felis, non placerat nunc suscipit quis. Integer eros nisl, lacinia sed euismod at, iaculis et eros. Suspendisse malesuada ultrices magna eget auctor.
            Curabitur vulputate sodales velit, eu posuere massa hendrerit vitae. Vestibulum in congue odio. Aenean rutrum accumsan felis, non placerat nunc suscipit quis. Integer eros nisl, lacinia sed euismod at, iaculis et eros. Suspendisse malesuada ultrices magna eget auctor.
            <a href="#">Pelajari lebih lanjut..</a></p> -->
        </div>
        <div class="col-md-4">
            <div class="panel-group" id="homeinteractive">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#homeinteractive" href="#loginform">
                                Login
                            </a>
                        </h4>
                    </div>
                    <div id="loginform" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form class="customForm" method="POST" action="/" id="login">
                                <div class="form-group">
                                    <label class="control-label" for="username">{{@tag_username}}</label>
                                    <input id="username" type="text" class="form-control" name="username">
                                </div>
                                <div class="form-group">                                    
                                    <label class="control-label" for="pass">{{@tag_password}}</label>
                                    <input id="pass" type="password" class="form-control" name="password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input value="Masuk" type="submit" class="btn btn-danger btn-block" />
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/lost_pass"><input type="button" value="Lupa Password" class="btn btn-success btn-block"></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#homeinteractive" href="#registerform">Register</a>
                        </h4>
                    </div>
                    <div id="registerform" class="panel-collapse collapse">
                        <div class="panel-body">
                            <check if="{{!empty(@GET.notification) && @GET.notification == 'info.acoount}}'">
                                <true>
                                <div class="success alert">
                                    <strong>{{@tag_info}}!</strong>
                                    {{@login_msg_info}}
                                </div>
                                </true>
                            </check>
                            <form action="/add_user" method="POST" class="customForm" id="register">
                                <div class="form-group">
                                    <label for="name">Nama depan</label>
                                    <input id="name" class="form-control" type="text" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Nama Belakang</label>
                                    <input id="lastname" class="form-control" type="text" name="lastname">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" class="form-control" type="email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Telephone</label>
                                    <input id="phone" class="form-control" type="text" name="telephone" value="">
                                </div>
                                <div class="form-group">
                                    <label for="address">Alamat</label>
                                    <input id="address" class="form-control" type="text" name="address" value="">
                                </div>
                                <div class="form-group ">
                                    <label>Member Adira Box?
                                        <small>(untuk menerima komisi)</small>
                                    </label>
                                    <label>
                                        <input type="radio" name="account" value="yes" class="required account" data-id="adira" id="adiraradio" />Ya
                                        <small>(Member Adira Box)</small>
                                    </label>

                                    <label>
                                        <input type="radio" name="account" value="no" class="account" data-id="ipaymu" />Tidak
                                        <small>(Non-member Adira Box)</small>
                                    </label>
                                </div>

                                <input type="hidden" name="wallet_id" placeholder="VA number Adira Box" class="form-control" />

                                <hr>

                                <div class="form-group">
                                    <label class="control-label" for="username">Username</label>
                                    <input id="username" type="text" class="form-control" name="username">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="pass">Password</label>
                                    <input id="pass" type="password" class="form-control" name="password">
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn-block btn btn-danger" value="Daftar Sekarang!" />
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>