<div class="panel panel-default profile">
    <div class="panel-body">
        <div class="dropdown settingbutton">
            <span data-toggle="dropdown" class=" fa fa-chevron-down"></span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#" data-toggle="modal" data-target="#ProfilView"><span class="fa fa-user"></span> Lihat Profil</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-4">
                <check if="{{@obj_users->get_user('id',@SESSION.user.user_id,'img') != ''}}">
                    <true>
                    <input type="hidden" value="{{@obj_users->get_user('id',@SESSION.user.user_id,'img')}}" name="oldp"/>
                    <img class="img-rounded img-responsive" src="{{@ROOT}}/content/user/{{@obj_users->get_user('id',@SESSION.user.user_id,'img')}}" alt="{{@obj_users->get_user('id',@SESSION.user.user_id,'name')}}" />
                    </true>
                    <false>
                    <div class="circle_point valign-table">
                        <div class="circle-content-wrapper valign-cell">
                            <span class="user-status">Cabang</span>
                        </div>
                    </div>
                    </false>
                </check>


            </div>
            <div class="col-md-8">
                <h2>{{@obj_users->get_user('id',@SESSION.user.user_id, 'name')}} {{@obj_users->get_user('id',@SESSION.user.user_id, 'last_name')}}</h2>
                <span class="explainer">NIK :</span>
                <h3 class="va-account">{{@obj_users->get_user('id',@SESSION.user.user_id, 'nik')}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default hidden-xs hidden-sm helppanel">
    <div class="panel-heading">
        <span class="fa fa-question-circle"></span> Bantuan
    </div>
    <ul class="list-group">
        <check if="{{count(@obj_article->get_article(array('link=? and lokasi=?',3,2)))>0}}">
            <true>
            <repeat group="{{@obj_article->get_article(array('link=? and lokasi=?',3,2))}}" key="{{ @mk }}" value="{{ @mv }}">
                <li class="list-group-item">
                    <a href="{{@ROOT}}/view/{{@mv->slug}}">
                        {{@mv->judul}}
                    </a>
                </li>
            </repeat>
            </true>
        </check>
    </ul>
</div>
<div class="modal fade " id="check" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form method="post" action="" id="formCheck">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Masukkan data Adira Box </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="obligor">No Adira Finance Club</label>
                        <input type="text" name="obligor" required="required" id="obligor" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password Adirabox Anda</label>
                        <input type="password" name="password" required="required" id="password" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Cek Komisi</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    #floatingCirclesG{
        position:relative;
        width:45px;
        margin: 0 auto;
        height:45px;
        -moz-transform:scale(0.6);
        -webkit-transform:scale(0.6);
        -ms-transform:scale(0.6);
        -o-transform:scale(0.6);
        transform:scale(0.6);
    }

    .f_circleG{
        position:absolute;
        background-color:#FFFFFF;
        height:8px;
        width:8px;
        -moz-border-radius:4px;
        -moz-animation-name:f_fadeG;
        -moz-animation-duration:1.6s;
        -moz-animation-iteration-count:infinite;
        -moz-animation-direction:linear;
        -webkit-border-radius:4px;
        -webkit-animation-name:f_fadeG;
        -webkit-animation-duration:1.6s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-direction:linear;
        -ms-border-radius:4px;
        -ms-animation-name:f_fadeG;
        -ms-animation-duration:1.6s;
        -ms-animation-iteration-count:infinite;
        -ms-animation-direction:linear;
        -o-border-radius:4px;
        -o-animation-name:f_fadeG;
        -o-animation-duration:1.6s;
        -o-animation-iteration-count:infinite;
        -o-animation-direction:linear;
        border-radius:4px;
        animation-name:f_fadeG;
        animation-duration:1.6s;
        animation-iteration-count:infinite;
        animation-direction:linear;
    }

    #frotateG_01{
        left:0;
        top:18px;
        -moz-animation-delay:0.6s;
        -webkit-animation-delay:0.6s;
        -ms-animation-delay:0.6s;
        -o-animation-delay:0.6s;
        animation-delay:0.6s;
    }

    #frotateG_02{
        left:5px;
        top:5px;
        -moz-animation-delay:0.8s;
        -webkit-animation-delay:0.8s;
        -ms-animation-delay:0.8s;
        -o-animation-delay:0.8s;
        animation-delay:0.8s;
    }

    #frotateG_03{
        left:18px;
        top:0;
        -moz-animation-delay:1s;
        -webkit-animation-delay:1s;
        -ms-animation-delay:1s;
        -o-animation-delay:1s;
        animation-delay:1s;
    }

    #frotateG_04{
        right:5px;
        top:5px;
        -moz-animation-delay:1.2s;
        -webkit-animation-delay:1.2s;
        -ms-animation-delay:1.2s;
        -o-animation-delay:1.2s;
        animation-delay:1.2s;
    }

    #frotateG_05{
        right:0;
        top:18px;
        -moz-animation-delay:1.4s;
        -webkit-animation-delay:1.4s;
        -ms-animation-delay:1.4s;
        -o-animation-delay:1.4s;
        animation-delay:1.4s;
    }

    #frotateG_06{
        right:5px;
        bottom:5px;
        -moz-animation-delay:1.6s;
        -webkit-animation-delay:1.6s;
        -ms-animation-delay:1.6s;
        -o-animation-delay:1.6s;
        animation-delay:1.6s;
    }

    #frotateG_07{
        left:18px;
        bottom:0;
        -moz-animation-delay:1.8s;
        -webkit-animation-delay:1.8s;
        -ms-animation-delay:1.8s;
        -o-animation-delay:1.8s;
        animation-delay:1.8s;
    }

    #frotateG_08{
        left:5px;
        bottom:5px;
        -moz-animation-delay:2s;
        -webkit-animation-delay:2s;
        -ms-animation-delay:2s;
        -o-animation-delay:2s;
        animation-delay:2s;
    }

    @-moz-keyframes f_fadeG{
        0%{
            background-color:#000000}

        100%{
            background-color:#FFFFFF}

    }

    @-webkit-keyframes f_fadeG{
        0%{
            background-color:#000000}

        100%{
            background-color:#FFFFFF}

    }

    @-ms-keyframes f_fadeG{
        0%{
            background-color:#000000}

        100%{
            background-color:#FFFFFF}

    }

    @-o-keyframes f_fadeG{
        0%{
            background-color:#000000}

        100%{
            background-color:#FFFFFF}

    }

    @keyframes f_fadeG{
        0%{
            background-color:#000000}

        100%{
            background-color:#FFFFFF}

    }

</style>


<script type="text/javascript">
    jQuery(document).ready(function() {
        $('#checkkomisi').on('click', function() {
            if ($('#loading').size() > 0) {
                $('#loading').remove();
            }
            $('#obligor').val('').removeAttr('disabled');
            $('#password').val('').removeAttr('disabled');
        })
        $('#formCheck').submit(function() {

            var obligorID = $('#obligor').val();
            var password = $('#password').val();
            var html = "<div class=\"form-group\" id=\"loading\" style=\"margin-bottom:0px\">" +
                    "<div id=\"floatingCirclesG\">" +
                    "<div class=\"f_circleG\" id=\"frotateG_01\">" +
                    "</div>" +
                    "<div class=\"f_circleG\" id=\"frotateG_02\">" +
                    "</div>" +
                    "<div class=\"f_circleG\" id=\"frotateG_03\">" +
                    "</div>" +
                    "<div class=\"f_circleG\" id=\"frotateG_04\">" +
                    "</div>" +
                    "<div class=\"f_circleG\" id=\"frotateG_05\">" +
                    "</div>" +
                    "<div class=\"f_circleG\" id=\"frotateG_06\">" +
                    "</div>" +
                    "<div class=\"f_circleG\" id=\"frotateG_07\">" +
                    "</div>" +
                    "<div class=\"f_circleG\" id=\"frotateG_08\">" +
                    "</div>" +
                    "</div>" +
                    "</div>";
            $('#obligor').attr('disabled', 'disabled');
            $('#password').attr('disabled', 'disabled');
            $(html).appendTo('.modal-body');
            $.post("{{@ROOT}}/api/komisi",
                    {
                        'obligorid': obligorID,
                        'password': password
                    },
            function(data) {
                if ($('#kapen').size() > 0) {
                    $('#kapen').remove();
                }
                var dats = $.parseJSON(data);
                if (dats.Status == 0) {
                    if (dats.Commission == null) {
                        $('<h1 id="kapen">Rp0,-</h1>').appendTo('.kom');
                    } else {
                        $('<h1 id="kapen">Rp' + dats.Commission + '</h1>').appendTo('.kom');
                    }
                } else {
                    $('<p id="kapen" class="text-warning" >Kesalahan data,silahkan coba lagi!!</p>').appendTo('.kom');
                }
                $('#check').modal('hide');
            });
            return false;
        });
    });
</script>