<div class="container parent">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <include href="cabang/__cabang_sidebar.htm"/></include>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">

            <div class="panel panel-default">
                <check if="{{count(@survei)>0}}">
                    <true>
                    <div class="panel-body">
                        <div class="col-md-8">
                            <button id="print" class="btn btn-default" disabled="disabled">
                                <span class="glyphicon glyphicon glyphicon-print" id="print"></span> Cetak
                            </button>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Sort by : </label>
                            <select class="form-control sortby">
                                <option value="default" {{$ord==''?'selected="selected"':''}}> Default</option>
                                <option value="agen" {{$ord=='agen'?'selected="selected"':''}}>Nama Agen</option>
                                <option value="tanggal" {{$ord=='tanggal'?'selected="selected"':''}}>Tanggal Masuk</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-dark nocolorlink cabang">
                            <thead>
                                <tr>
                                    <th width="40px"><input type="checkbox" id="allid"/></th>
                                    <th>
                                        Pesan 
                                    </th>
                                    <th>
                                        Tanggal Masuk
                                    </th>
                                    <th>
                                        Status
                                    </th>

                                    <th>
                                        <span class="glyphicon glyphicon-list"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            <repeat group="{{@survei}}" key="{{@skey }}" value="{{@sval}}">
                                <tr class="">
                                    <td>
                                        <input class="allid" type="checkbox" name="id_notif[]" value="{{@sval->id}}" />
                                    </td>
                                    <td class="{{@sval->status==1?'not-read':'read'}} ">
                                        <a href="{{@ROOT}}/message?ms={{@sval->id}}" title="Lihat" >
                                            <span class="">
                                                Pesan request survei dari {{@sval->nama}} <b>({{(@sval->used==1)?'Channeling':''}}{{(@sval->used==2)?'Retention':''}})</b>
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        {{date('d-m-Y, H:i',strtotime($sval->date_save))}} 
                                    </td>
                                    <td>
                                        <span class="label {{@c_survei->get_status(@sval->status,'c')}}">
                                            {{@c_survei->get_status(@sval->status,'n')}}
                                        </span>
                                    </td>
                                    <td>
                                <check if="{{@sval->status==1}}">
                                    <true>
                                    <a href="{{@ROOT}}/message?ms={{@sval->id}}" title="Lihat" class="the-icon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </a>
                                    </true>
                                    <false>
                                    <a href="{{@ROOT}}/message?ms={{@sval->id}}&action=print" title="Cetak" class="the-icon">
                                        <span class="glyphicon glyphicon-print"></span>
                                    </a>
                                    </false>
                                </check>
                                </td>
                                </tr>
                            </repeat>
                            </tbody>
                        </table>
                    </div>
                    </true>
                    <false>
                    <div class="panel-body">
                        <div class="alert alert-warning">
                            <p><strong>Kosong!</strong> tidak ada pesan masuk</p>
                        </div>
                    </div>
                    </false>
                </check>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#allid').on('click', function () {
            if (this.checked) {
                $('.allid').prop('checked', true);
                $('#print').removeAttr('disabled');
            } else {
                $('.allid').prop('checked', false);
                $('#print').attr('disabled', 'disabled');
            }
//           

        });
        $('.allid').on('click', function () {
            if (this.checked || !this.checked) {
                if ($('.cabang').find('.allid:checked').size()) {
                    $('#print').removeAttr('disabled');
                } else {
                    $('#print').attr('disabled', 'disabled');
                }
            }
        });

        $('#print').on('click', function () {
            var all_id = [];
            $('.cabang').find('.allid:checked').each(function () {
                all_id.push($(this).val());
            });

            var string_s = all_id.join(',');
            if (all_id.length > 0) {
                window.open('{{@ROOT}}/message/print_all/' + string_s, '_blank')
            }

        });
        $('.sortby').on('change', function () {
            if ($(this).val() != 'default') {
                window.location = '{{@ROOT}}/cabang?order=' + $(this).val();
            } else {
                window.location = '{{@ROOT}}/cabang';
            }
            //
        });
    });
</script>