<div class="container parent">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <include href="cabang/__cabang_sidebar.htm"/></include>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="col-md-4">
                        <h3 class="panel-title">
                            Detail Survei 
                        </h3> 
                    </div>
                    <div class="col-md-6">
                        <check if="{{@survei->status<3}}">
                            <true>
                            <div class="col-md-6">
                                <button class="btn btn-danger pull-right btn-block btn-sm" data-toggle="modal" data-target="#form-update" data-status="{{@survei->status}}">
                                    Update status
                                </button>
                                <div class="modal fade" id="form-update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form action="" method="post">
                                                <input type="hidden" name="update" value="{{(@survei->status==3 )?@survei->status:@survei->status+1}}"/>
                                                <div class="modal-header">
                                                    <h3 style="padding: 0px;margin: 0px">Update Status</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <check if="{{@survei->status==1}}">
                                                        <true>
                                                        <p> Apakah Anda yakin akan mengubah status dari <strong class="label {{@c_survei->get_status(@survei->status,'c')}}">PROSES</strong > ke <strong class="label {{@c_survei->get_status(@survei->status+1,'c')}}">SURVEI</strong>?</p>
                                                        </true>
                                                    </check>
                                                    <check if="{{@survei->status==2}}">
                                                        <true>
                                                        <p> Apakah Anda yakin akan mengubah status dari "<strong class="label {{@c_survei->get_status(@survei->status,'c')}}">SURVEI</strong>" ke "<strong class="label {{@c_survei->get_status(@survei->status+1,'c')}}">DI TERIMA</strong>"?</p>
                                                        <div class="form-group">
                                                            <label class="control-label">Masukkan Nomer PK</label>
                                                            <input type="number" class="form-control" name="extra_text" maxlength="12" required="required" placeholder="Nomer PK"/>
                                                            <!--<textarea class="form-control" name="extra_text" placeholder="Nomer PK" required="required"></textarea>-->
                                                        </div>
                                                        </true>
                                                    </check>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                                    <input type="submit" name="s" value="Simpan" class="btn btn-primary" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger pull-right btn-block btn-sm" data-toggle="modal" data-target="#form-tolak" data-status="{{@survei->status}}">
                                    Tolak
                                </button>
                                <div class="modal fade" id="form-tolak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form action="" method="post">
                                                <input type="hidden" name="update" value="4"/>
                                                <div class="modal-header">
                                                    <h3 style="padding: 0px;margin: 0px">Update Status</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Apakah Anda akan memproses data ini menjadi <span class="label label-danger">DI TOLAK</span> ?</p>
                                                    <div class="form-group">
                                                        <label class="control-label">Alasan Tolak</label>
                                                        <textarea class="form-control" name="extra_text" placeholder="Alasan Tolak" required="required"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                                                    <input type="submit" name="s" value="Simpan" class="btn btn-primary" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </true>

                        </check> 
                    </div>
                    <div class="col-md-2">
                        <span class="pull-right label {{@c_survei->get_status(@survei->status,'c')}}">
                            {{@c_survei->get_status(@survei->status,'n')}}
                        </span>
                    </div>


                </div>
                <div class="panel-body">
                    <div class="row">

                        <check if="{{!empty($produk)}}">
                            <true>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <a href="{{@ROOT}}/assets/images/{{$produk->foto}}" class="thumbnail popup">
                                        <img src="{{@ROOT}}/assets/images/{{$produk->foto}}"/>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <h4 style="margin-top:0px;">Informasi Produk</h4>
                                <h2 style="margin-top:0px; font-weight:800; color:#63696F; font-size:32px;">{{$produk->produk}}</h2>
                                <p>{{$produk->desc}}</p>
                                <hr/>
                                <h4 style="#63696F;">Pesan:</h4>
                                <p>{{$survei->more_text}}</p>
                            </div>
                            </true>
                            <false>
                            <div class="col-md-12">

                                <h4 style="margin-top:0px;">Informasi Produk</h4>
                                <h2 style="margin-top:0px; font-weight:800; color:#63696F; font-size:32px;">Jenis produk : {{@obj_kategori->get_jenis($survei->jenis_produk)}}</h2>
                                <check if="{{$survei->jenis_produk==3 ||$survei->jenis_produk==6 }}">
                                    <true>
                                    <p>Tahun kendaraan <strong>{{$survei->tahun}}</strong> dengan dana yang di minta <strong>Rp{{number_format($survei->dana,2,',','.')}}</strong></p>
                                    <h4 style="#63696F;">Pesan:</h4>
                                    <p>{{$survei->more_text}}</p>
                                    </true>
                                </check>
                            </div>
                            </false>
                        </check>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-header">
                                <h3>Agen</h3>
                            </div>

                            <table class="table table-bordered">
                                <tr>
                                    <td>Nama Agen</td>
                                    <td>{{@agen->name}} {{@agen->last_name}}</td>
                                </tr>
                                <tr>
                                    <td>Alamat</td>
                                    <td>{{@agen->address}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{@agen->mail}}</td>
                                </tr>
                                <tr>
                                    <td>Telp</td>
                                    <td>{{@agen->telephone}} </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-6">
                            <div class="form-header">
                                <h3>Calon Konsumen</h3>
                            </div>
                            <table class="table table-bordered">
                                <tr>
                                    <td>Nama Konsumen</td>
                                    <td>{{@survei->nama}}</td>
                                </tr>
                                <tr>
                                    <td>Alamat</td>
                                    <td>{{@survei->alamat}}</td>
                                </tr>
                                <tr>
                                    <td>No KTP</td>
                                    <td>{{@survei->ktp}}</td>
                                </tr>
                                <tr>
                                    <td>Telp</td>
                                    <td>{{@survei->telephone}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel-footer clearfix">
                    <div class="col-md-4">
                        <a href="{{@ROOT}}/message?ms={{@survei->id}}&action=print">
                            <button class="pull-left btn btn-danger btn-block">Cetak Survey <span class="glyphicon glyphicon-print"></span></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>