<div class="container parent">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <include href="cabang/__cabang_sidebar.htm"/>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <check if="{{isset(@GET.s) && (@GET.s == 'error')}}">
                <true>
                <div class="alert alert-danger">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <strong>Error!</strong>
                    Password lama salah!!
                </div>
                </true>
            </check>
            <check if="{{isset(@GET.s) && (@GET.s == 'succes')}}">
                <true>
                <div class="alert alert-success">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    <strong>Succes!</strong>
                    Password berhasil di update!!
                </div>
                </true>
            </check>
            
            <form method="post" action="" role="form" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>
                            <span class="glyphicon glyphicon-user"></span> Edit Password
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Password Sekarang</label>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" name="curent" value="" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <hr/>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Password baru</label>
                            <div class="col-lg-4">
                                <input type="password" class="form-control" id="new" name="new" value="" required="required"/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4">Tulis kembali Password baru</label>
                            <div class="col-lg-4">
                                <input type="password" class="form-control retype" name="retype" value="" required="required"/>
                            </div>
                            <div class="col-lg-4" id="respon">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        [ <a href="{{@ROOT}}/dashboard" class="btn btn-link">kembali ke dashboard</a> ]
                        <input type="submit" value="simpan" class="btn btn-success pull-right"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        var oval = '';

        $('.retype').keyup(function() {
            oval = $('#new').val();
            if ($(this).val() != '') {
                if ($(this).val() !== oval) {
                    $(this).parents('.form-group').addClass('has-error');
                    $('#respon').html('<span class="text-danger">belum sama</span>');
                } else {
                    $(this).parents('.form-group').removeClass('has-error');
                    $('#respon').html('sudah sama');
                }
            }
        });
    });
</script>