/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */ 
label       { 
    width: 120px;
    zoom: 1;
    display: inline-block;
    *display: inline;
    color:#333;
    font-size:12px;
}
fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
input[type=text], input[type=password],
input.text, input.title,
textarea {
  background-color:#fff !important;
  border:1px solid #bbb !important;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color:#666 !important;
}
select { background-color:#fff; border-width:1px; border-style:solid; padding:4px !important; }

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

select{
    height:29px;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px !important; }

/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }


/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }

/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */ 

fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
 select,input[type=email],
input[type=text], input[type=password],
input.text, input.title,
textarea {
  background-color:#fff;
  border:1px solid #ccc;
}
input[type=email]:focus, 
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border:1px solid #000 !important;
-webkit-appearance:none;
outline:none;
}


input[type=email],
input[type=text], input[type=password],
input.text, input.title,
textarea, select {
    padding: 5px;
    margin: 0.2em 0;    
}


.short input[type=email],
.short input[type=text],.short input[type=password],
.short input.text,.short input.title,
.short textarea,.short select {
    padding: 5px;
    margin: 0.2em 0;
    width:300px;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 525px; height: 200px; padding:5px; resize:none; }

.asterisk{
    color:#d50000;
    margin:0px 5px;
}


/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }


input[type=submit], .button{
    color: #FFF;
    background:#ff6666;
    border:none;
    padding:8px 20px;
    text-transform:uppercase;
 }

input[type=submit]:hover, .button:hover{
    color: #FFF;
    text-decoration: none;
    background-color:#f14343;
}

input[type=submit].big-size,.button.big-size{
    font-size: 14px;
    color: #FFF;
    background: #ff6666;
    border: none;
    padding: 10px 12px;
}

.button{
    text-decoration:none;
    color:#fff !important;
    display:inline-block;
    *display:inline;
   zoom:1;
}


input[type=submit].disabled{
    background-color:#fac3c3 !important;
}

input[type=checkbox],
input[type=radio]{
    position:relative;
    top:2px;
    margin-right:5px;
}
input[name=dob],input#txt_transaction_date{
    margin-right: 5px !important;
    width: 244px !important;
}

.form-element{
    margin:3px 0px;
    display:inline-block;
    *display:inline;
    zoom:1;
    position:relative;
}

.form-element-block{
    margin:10px 0px;
}

.add-to-cart-form label{
    font-weight:normal;
    margin-right:8px;
    width:auto !important;
}

.form-group {
    border:1px solid #CCC;
    padding:20px;
    margin-bottom:10px;
    float:left;
}

.form-group label{
    display:block;
    font-weight:bold;
    color:#333;

}

.form-group .form-element{
   margin:0px 10px 0px 0px;
}

#dialog-screen{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:999;
    background:url(../images/texture.png) repeat top left;
}

#dialog-screen .dialog-box{
    width: 400px;
    min-height:85px;
    padding:0px 0px 30px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    border:1px solid #f4f4f4;
}

#dialog-screen .dialog-content{
    padding: 25px;
    text-align: center;
}

#dialog-screen .dialog-box.wait{
    background:url("../images/ajax-loader.gif") no-repeat center center #fff;
}

.close-dialog{
    font-size: 14px;
    text-shadow: 0px 1px 2px #ccc;
    right: 8px;
    top: 0px;
    position: absolute;
    font-weight: bold;
    color: #ccc;
}

.close-dialog:hover{
    color:#333;
}

.form-header{
    text-transform:uppercase;
    margin-bottom:20px;
    font-weight:bold;
}

span.invalid{
    line-height: 32px;
    color: #f00000;
    margin-bottom: 0px;
    background: transparent;
    border: none;
    font-size: 11px;
    padding: 0px;
    position: absolute;
    right: 5px;
    top:0px;
}

.dropdown-element span.invalid{
    right:22px;
}

.form-element.element-checkbox {
    width:290px !important;
}

.element-checkbox span.invalid{
    z-index: -1;
    right: -40%;
    top: -8px;
    text-align: right;
    widtH: 140%;
    background: #fbe3e4;
    border: 1px solid #fbc2c4;
}

.ui-datepicker-trigger{
    cursor:pointer;
}
.login-form.general-form{
    width:auto;
}
.login-form .form-element{
    display:block;
}

.general-form{
    width:440px;
}

.date-birth-form span.invalid{
    right:25px;
}

span[for=attachment].invalid{
    right: -40px;
    top: 32px;
}