/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Mei 14, 14:49:14
    Author     : Agus
*/

.container{
    /*-webkit-transition: all 1s ease;*/
    -o-transition: all 1s ease;
    /*-moz-transition: all 1s ease;*/
    -ms-transition:all 1s ease;
    transition: all 1s ease;
}

@media all and (max-width:990px){
    .container{
        width: 768px;
    }
    [class^="column-"],
    [class*="column-"]{
        width: 380px;
    }
    #accordion > div{
        width: 348px;
    }
    .form-half{
        width: 168px;
    }
    .customForm .form-half input[type="text"], 
    .customForm .form-half input[type="password"], 
    .customForm .form-half input[type="email"]{
        width: 156px;
    }
    .customForm input[type="text"], 
    .customForm input[type="password"], 
    .customForm input[type="password"]{
        width: 336px;
    }
    #formUpdateUser .customForm input[type="text"],
    #formUpdateUser .customForm input[type="password"],
    #formUpdateUser .customForm input[type="password"]{
        width: 422px;
    }
    .content-left{
        width: 500px;
    }
    .content-right{
        width: 248px;
    }
    .panel-body{
        width: 227px;
    }
}

@media all and (max-width:798px){
    #header .container{
        width: 94%;
        margin: 0 3%;
    }
    .container{
        width: 480px;
    }
    .home {
        margin-top: 50px;
    }
    .mobile-nav{
        display: block;
    }
    .dekstop-nav{
        display: none;
    }
    .nav{
        width: 100%;
        border-top: 1px #840030 solid;
        margin-top: 10px;
    }
    .nav ul{
        width: 100%;
    }
    .nav ul li{
        width: 100%;
    }
    .nav a{
        padding: 10px;
    }
    
    
    [class^="column-"], [class*="column-"]{
        max-width: 100%;
        width: 100%;
    }
    .form-group{
        width: 92%;
        margin: 0px 4%;
    }
    .form-half{
        width: 100%;
        margin: 0px;
    }
    #accordion > div{
        width: calc(100% - 1px);
        padding-left: 0px;
        padding-right: 0px;
    }
    .customForm input[type="text"], .customForm input[type="password"], .customForm input[type="email"],
    .customForm .form-half input[type="text"], .customForm .form-half input[type="password"], .customForm .form-half input[type="email"]{
        width: 96%;
        max-width: 96%;
    }
    .content-left,
    .content-right{
        width: 100%;
    }
    .content-right{
        margin-top: 20px;
    }
    .panel-body{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media all and (max-width:510px){
    .container{
        width: 96%;
        margin: 0px 2%;
        max-width: 100%;
    }
    .form-popup,
    #formUpdateUser{
        width: 94%;
    }
    
}