@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800);

body {
    padding: 0px;
    margin: 0px;
    background-color:#EAEAEA;
    background-image: url("../images/bg-texture.png");
    background-position: center;
    font-family: "Open Sans";
    font-size: 13px;
    color: #636363;
}
a {
    color: #C72040;
}
a:hover {
    color: #C72040;
}
/*Heading*/
h1, h2, h3, h4, h5, h6 {
    color: #D5254D;
    font-weight: 700;
}
h1
{
    font-size: 28px;
}

.dropdown-menu > li > a
{
    font-size: 14px;
    color: #636363;
}

.navbar-default {
    background: rgb(214, 37, 78);
    background: -moz-linear-gradient(top, rgba(214, 37, 78, 1) 0%, rgba(196, 31, 61, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(214, 37, 78, 1)), color-stop(100%, rgba(196, 31, 61, 1)));
    background: -webkit-linear-gradient(top, rgba(214, 37, 78, 1) 0%, rgba(196, 31, 61, 1) 100%);
    background: -o-linear-gradient(top, rgba(214, 37, 78, 1) 0%, rgba(196, 31, 61, 1) 100%);
    background: -ms-linear-gradient(top, rgba(214, 37, 78, 1) 0%, rgba(196, 31, 61, 1) 100%);
    background: linear-gradient(to bottom, rgba(214, 37, 78, 1) 0%, rgba(196, 31, 61, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6254e', endColorstr='#c41f3d', GradientType=0);
    border:none;
    border-radius: 0px;
    border-bottom: 1px solid #A81A30;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#mainmenu{
    min-height: 88px ;
}
#mainmenu .navbar-header{
    height: 100px;
}
#mainmenu img{
    max-width: 100%;
}
.navbar > .container .navbar-brand {
    margin-top: -10px;
}
#nav > li {
    padding: 25px 15px; 
}


/*Navigation*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    display: block;
    text-shadow:0px -1px 0px rgba(0, 0, 0, 0.3);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /*background-color: #AF1D3B;
    border-radius: 4px;
    box-shadow: 0px 0px 1px inset rgba(0,0,0,0.4);*/
    color:#fff;
    background-color: inherit;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    /*background-color: #AF1D3B;
    border-radius: 4px;
    box-shadow: 0px 0px 1px inset rgba(0,0,0,0.4);*/
    color:#fff;
    background-color: inherit;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover
{
    background-color: #D3244B;
}

.parent {
    margin-top: 115px;
}
.featured h1{
    font-size:34px; 
    line-height:46px;
}
.featured p{
    font-size:16px; 
    line-height:30px;
}
/*Panel*/
.panel
{
    border-color: #cccccc;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    position: relative;
}
.panel-default > .panel-heading {
    font-weight: bold;
    font-size: 14px;
    color: #464646;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );

}

.panel .list-group li > a
{
    color: #707070;
}

.panel .settingbutton
{
    position: absolute;
    top: 5px;
    right: 8px;
    color: #d3d3d3;
    cursor: pointer;
}

.panel .settingbutton .dropdown-menu {
    left: auto;
    right: 0px;
}

/*Table*/
.table > thead > tr > th {
    border-bottom: none;
    font-weight:normal;
}

.table.table-default thead
{
    background: rgb(231,46,88);
    background: -moz-linear-gradient(top,  rgba(231,46,88,1) 0%, rgba(213,37,77,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,46,88,1)), color-stop(100%,rgba(213,37,77,1)));
    background: -webkit-linear-gradient(top,  rgba(231,46,88,1) 0%,rgba(213,37,77,1) 100%);
    background: -o-linear-gradient(top,  rgba(231,46,88,1) 0%,rgba(213,37,77,1) 100%);
    background: -ms-linear-gradient(top,  rgba(231,46,88,1) 0%,rgba(213,37,77,1) 100%);
    background: linear-gradient(to bottom,  rgba(231,46,88,1) 0%,rgba(213,37,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72e58', endColorstr='#d5254d',GradientType=0 );
    color: #fff;
    font-weight: normal;
    border-radius: 4px 4px 0px 0px
}

.table.table-default
{
    border: #d5254d 1px solid;
    border-radius: 4px;
    background-color: #fff;
}

.table.table-danger thead {
    background-color: #E9573F;
    color: #ffffff;
}
.table.table-dark thead {
    background-color: #434A54;
    color: #ffffff;
}
/*Profile*/
.profile hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile th {
    font-weight:normal;
    background-color: #434A54;
    color: #fff;
}

.profile h2
{
    font-family:"Open Sans"; 
    font-size:18px;
    font-weight:800;
    text-transform: uppercase;
    color: #636363;
    margin: 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 12px;
    margin-top: 7px;
}

.profile h3.va-account
{
    font-size:24px;
    font-weight:800;
    text-transform: uppercase;
    color: #959595;
    margin: 0px;
}

.profile .explainer
{
    font-size: 12px;
    color: #b7b7b7;
    font-style: italic;
}

.profile .circle_point
{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #d5254d;
    border: 3px solid #a31b3a;
    text-align: center;
}

.profile .circle-content-wrapper > .user-status
{
    color: #fff;
    text-shadow:0px 1px 0px #aa0516;
    font-weight: 600;
}


/*Footer*/
footer
{
    background-color: #E3E1DD;
    padding: 20px 0px 20px 0px;
    font-size: 12px;
    color: #7C7366;
    text-align: center;
}

/*Vertical Align Setting*/
.valign-table
{
    display: table;
}

.valign-cell
{
    display: table-cell;
    vertical-align: middle;
}
@media (max-width:420px){
    .brand{
        width: 80%;
    }
    .brand img{
        max-width: 100%
    }
}
@media (max-width:767px){
    #nav > li {
        padding: 0px; 
    }
}